<div class="side-menu sidebar-inverse">
  <nav class="navbar navbar-default" role="navigation">
    <div class="side-menu-container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <div class="icon fa fa-paper-plane"></div>
          <div class="title">Flat Admin V.2</div>
        </a>
        <button type="button" class="navbar-expand-toggle pull-right visible-xs">
          <i class="fa fa-times icon"></i>
        </button>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="{{ url_for('admin.index') }}">
            <span class="icon fa fa-tachometer"></span><span class="title">Dashboard</span></a>
        </li>
        <!-- Manager -->
        <li class="panel panel-default dropdown">
          <a data-toggle="collapse" href="#dropdown-users">
              <span class="icon fa fa-desktop"></span><span class="title">Gerenciador</span>
          </a>
          <div id="dropdown-users" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="nav navbar-nav">
                <li><a href="{{ url_for('admin.users') }}">Usuários</a></li>
                <li><a href="{{ url_for('admin.categories') }}">Categorias</a></li>
                <li><a href="{{ url_for('admin.products') }}">Produtos</a></li>
              </ul>
            </div>
          </div>
        </li>
        <!-- /Manager -->
        <li class="panel panel-default dropdown">
          <a data-toggle="collapse" href="#dropdown-element">
              <span class="icon fa fa-desktop"></span><span class="title">UI Kits</span>
          </a>
          <!-- Dropdown level 1 -->
          <div id="dropdown-element" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="nav navbar-nav">
                <li><a href="{{ url_for('admin.theming') }}">Theming</a>
                </li>
                <li><a href="{{ url_for('admin.grid') }}">Grid</a>
                </li>
                <li><a href="{{ url_for('admin.button') }}">Buttons</a>
                </li>
                <li><a href="{{ url_for('admin.card') }}">Cards</a>
                </li>
                <li><a href="{{ url_for('admin.list') }}">Lists</a>
                </li>
                <li><a href="{{ url_for('admin.modal') }}">Modals</a>
                </li>
                <li><a href="{{ url_for('admin.alert') }}">Alerts & Toasts</a>
                </li>
                <li><a href="{{ url_for('admin.panel') }}">Panels</a>
                </li>
                <li><a href="{{ url_for('admin.loader') }}">Loaders</a>
                </li>
                <li><a href="{{ url_for('admin.step') }}">Tabs & Steps</a>
                </li>
                <li><a href="{{ url_for('admin.other') }}">Other</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="panel panel-default dropdown">
          <a data-toggle="collapse" href="#dropdown-table">
            <span class="icon fa fa-table"></span><span class="title">Table</span>
          </a>
          <!-- Dropdown level 1 -->
          <div id="dropdown-table" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="nav navbar-nav">
                <li><a href="{{ url_for('admin.table') }}">Table</a>
                </li>
                <li><a href="{{ url_for('admin.data_table') }}">Datatable</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="panel panel-default dropdown">
          <a data-toggle="collapse" href="#dropdown-form">
            <span class="icon fa fa-file-text-o"></span><span class="title">Form</span>
          </a>
          <!-- Dropdown level 1 -->
          <div id="dropdown-form" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="nav navbar-nav">
                <li><a href="{{ url_for('admin.ui_kits') }}">Form UI Kits</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <!-- Dropdown-->
        <li class="panel panel-default dropdown">
          <a data-toggle="collapse" href="#component-example">
            <span class="icon fa fa-cubes"></span><span class="title">Components</span>
          </a>
          <!-- Dropdown level 1 -->
          <div id="component-example" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="nav navbar-nav">
                <li><a href="{{ url_for('admin.pricing_table') }}">Pricing Table</a>
                </li>
                <li><a href="{{ url_for('admin.chartjs') }}">Chart.JS</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <!-- Dropdown-->
        <li class="panel panel-default dropdown">
          <a data-toggle="collapse" href="#dropdown-example">
            <span class="icon fa fa-slack"></span><span class="title">Page Example</span>
          </a>
          <!-- Dropdown level 1 -->
          <div id="dropdown-example" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="nav navbar-nav">
                <li><a href="#">Login</a>
                </li>
                <li><a href="{{ url_for('admin.index') }}">Landing Page</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <!-- Dropdown-->
        <li class="panel panel-default dropdown">
          <a data-toggle="collapse" href="#dropdown-icon">
            <span class="icon fa fa-archive"></span><span class="title">Icons</span>
          </a>
          <!-- Dropdown level 1 -->
          <div id="dropdown-icon" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="nav navbar-nav">
                <li><a href="{{ url_for('admin.glyphicons') }}">Glyphicons</a>
                </li>
                <li><a href="{{ url_for('admin.font_awesome') }}">Font Awesomes</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <a href="{{ url_for('admin.license') }}">
            <span class="icon fa fa-thumbs-o-up"></span><span class="title">License</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
</div>
