<div id="cart-dropdown" class="item-dropdown">
  <p ng-if="cartService.cart.totalItems <= 0">vazio</p>
  {#<p ng-if="cartService.cart.totalItems > 0"><b><a
      href="#">compras</a></b></p>#}
  <div class="cart-line" ng-repeat="item in cartService.cart.items">
    <div class="cart-line-img">
      <img src="{a item.thumb a}"/>
    </div>
    <div class="cart-line-info">
      <span>{a item.name a}</span>
      <div>
        <span>quantidade:</span><span> {a item.quantity a}</span>
      </div>
      <div>
        <span>preço:</span><span> {a item.price | currency a}</span>
      </div>
      <div ng-repeat="(attr, value) in item['attributes']">
        <span>{a attr a}:</span><span> {a value a}</span>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <hr>
  <div class="duvet-btn-wrapper">
    <a class="duvet-btn" href="{{ url_for('checkout') }}">finalizar compra</a>
  </div>
</div>

