<ul id="login-form-dropdown" class="item-dropdown">
  <div id="login-dropdown-form">
    <h4>Entre na sua conta</h4>
    <form action="{{ url_for('login') }}" method="post">
      {{ login_form.hidden_tag() }}
      {% if login_form.csrf_token.errors %}
        <ul class="alert alert-danger alert-login">
          {% for error in login_form.csrf_token.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <span class="login-input">{{ login_form.email()|safe }}</span>
      <span class="login-input">{{ login_form.password()|safe }}</span>
      <span class="login-submit"><input class="capitalize" type="submit" value="ok ›"></input></a></span>
      <div class="clearfix"></div>
    </form>
    <div id="register">
      <span><a href="{{ url_for('registration') }}"><b>Registre-se</b></a></span>
    </div>
  </div>
</ul>

