<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" arias-expanded="false">
    Entrar<span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <div id="login-dropdown-form">
      <h4>Entre na sua conta</h4>
      <form action="{{ url_for('login') }}" method="post">
        <input type="email" name="email" placeholder="e-mail" autofocus></input>
        <input type="password" name="password" placeholder="senha"></input>
        <input type="submit" value="entrar"></input>
      </form>
      <div id="register">
        <span>Não possui conta?</br><a class="link" href="{{ url_for('registration') }}"><b>Registre-se</b></a></span>
      </div>
    </div>
  </ul>
</li>

