{% from "macros/formhelpers.html" import render_field %}
<li class="dropdown{% if login_fail is defined %} open {% endif %}">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" arias-expanded="false">
    Entrar<span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <div id="login-dropdown-form">
      <h4>Entre na sua conta</h4>
      <form action="{{ url_for('login') }}" method="post">
        {{ login_form.csrf_token }}
        {% if login_form.csrf_token.errors %}
          <ul class="alert alert-danger alert-login">
            {% for error in login_form.csrf_token.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <dl>
          {{ render_field(login_form.email) }}
          {{ render_field(login_form.password) }}
        <dl>
          <p><input id="login-btn" type="submit" value="entrar"></input></p>
      </form>
      <div id="register">
        <span>Não possui conta?</br><a class="link" href="{{ url_for('registration') }}"><b>Registre-se</b></a></span>
      </div>
    </div>
  </ul>
</li>

