<nav class="navbar navbar-inverse navbar-static-top" id="navbar-wrapper" role="navigation">
  <div class="row">
    <div class="col-xs-4">
      <div id="sidebar-btn" class="trigger-menu" data-target="#sidebar">
        <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="col-xs-4">
      <a class="navbar-brand logo" href="{{ url_for('index')}}">Studio Duvet</a>
    </div>
    <div class="col-xs-4 text-right">
      <span id="bag-btn" class="nav navbar-nav navbar-right">
        <a href="#">
          <i class="fa fa-shopping-bag"></i>
        </a>
      </span>
      <span id="like-btn" class="nav navbar-nav navbar-right">
        <a href="#">
          <i class="fa fa-heart-o"></i>
        </a>
      </span>
      <ul class="nav navbar-nav navbar-right">
        {% if not current_user.is_authenticated %}
          {% include 'partials/loginform.html' %}
        {% else %}
          {% include 'partials/useroptions.html' %}
        {% endif %}
      </ul>
    </div>
  </div>
  <!-- /row -->
</nav>

