<div id="sidebar-menu">
  <ul>
    <li id="buy-btn" class="trigger-menu" data-target="#buy-menu">
      <a href="#">Comprar ›</a>
    </li>
    <li><a href="{{ url_for('about') }}">Quem somos</a></li>
    <li><a href="{{ url_for('custom_made') }}">Sob medida</a></li>
    <li><a href="{{ url_for('returns') }}">Trocas e devoluções</a></li>
    <li><a href="{{ url_for('wash') }}">Lavanderia</a></li>
    <li><a href="{{ url_for('contact') }}">Contato</a></li>
  </ul>
</div>
<div id="buy-menu">
  <ul>
    {% if category is defined %}
      <li><a href="{{ url_for('category', permalink=category.permalink) }}">{{ category.name }}</a></li>
    {% endif %}
    {% for category in categories %}
      <li><a href="{{ url_for('category', permalink=category.permalink) }}">{{ category.name }}</a></li>
    {% endfor %}
  </ul>
</div>
