{% extends 'admin/navigation.html' %}
{% from "macros/formhelpers.html" import render_field %}

{% block title %}
  {{ super() }}
  Gerenciador de categorias
{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('admin.static', filename='css/style.css') }}">
{% endblock %}

{% block main_content %}
<!-- Main Content -->
  <div class="container-fluid">
    <div class="side-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title"><div class="title">Criar categoria</div></div>
            </div>
            <div class="card-body">
              <form action="{{ url_for('admin.categories') }}" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {% if form.csrf_token.errors %}
                  <ul class="alert alert-danger alert-login">
                    {% for error in form.csrf_token.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
                <dl>
                  {{ render_field(form.name) }}
                  {{ render_field(form.parent) }}
                  {{ render_field(form.base_img) }}
                  {{ render_field(form.meta_description) }}
                <dl>
                  <p><input class="btn btn-default" id="create-category-btn" type="submit" value="Criar"></input></p>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title"><div class="title">Categorias</div></div>
            </div>
            <div class="card-body">
              <table id="datatable" class="display" width="100%">
                <button id="edit-btn" class="btn btn-default">Confirmar edições</button>
                <button id="delete-btn" class="btn btn-default">Deletar seleção</button>
                <thead>
                  <tr role="row">
                    <th></th>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Categoria pai</th>
                    <th>Base image</th>
                    <th>Meta-description</th>
                    <th>Permalink</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr role="row">
                    <th></th>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Categoria pai</th>
                    <th>Base image</th>
                    <th>Meta-description</th>
                    <th>Permalink</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for category in categories %}
                    <tr role="row">
                      <td class="dt-body-center">
                        <div class="checkbox3 checkbox-inline checkbox-check checkbox-light">
                          <input type="checkbox" data-toggle="select-row" id="select-{{ category.id }}"></input>
                          <label for="select-{{ category.id }}"></label>
                        </div>
                      </td>
                      <td id="id" class="id">{{ category.id }}</td>
                      <td id="name" class="name">
                        <div class="value">{{ category.name }}</div>
                        <a href="#"><span class="edit-attribute glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                      </td>
                      <td id="parent" class="parent">
                        <div class="value">{% if not category.parent is none %}{{ category.parent['name'] }}{% else %}Nenhuma{% endif %}</div>
                        <a href="#"><span class="edit-attribute glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                      </td>
                      <td id="base_img" class="base_img">
                        <div class="value"><a href="{{ category.base_img }}">Ver imagem</a></div>
                        <a href="#"><span class="edit-attribute glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                      </td>
                      <td id="meta_description" class="meta_description">
                        <div class="value">{{ category.meta_description }}</div>
                        <a href="#"><span class="edit-attribute glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                      </td>
                      <td id="permalink" class="permalink">{{ category.permalink }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js"></script>
<script>
var deleteUri = "{{ url_for('admin.delete_categories') }}";
var editUri = "{{ url_for('admin.edit_categories') }}";
var editNameField = $('{{ form.name()|safe }}');
var editCategoryField = $('{{ form.parent(style="width:100%")|safe }}');
var editBaseImgField = $('{{ form.base_img()|safe }}');
var editMetaField = $('{{ form.meta_description()|safe }}');
</script>
<script src="{{ url_for('admin.static', filename='js/rest.js') }}"></script>
<script src="{{ url_for('admin.static', filename='js/category.js') }}"></script>
<script src="{{ url_for('admin.static', filename='js/edit.js') }}"></script>
{% endblock %}
