{% extends 'admin/navigation.html' %}
{% from "macros/formhelpers.html" import render_field %}

{% block title %}
  {{ super() }}
  Gerenciador de categorias
{% endblock %}

{% block main_content %}
<!-- Main Content -->
  <div class="container-fluid">
    <div class="side-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title"><div class="title">Criar categoria</div></div>
            </div>
            <div class="card-body">
              <form action="{{ url_for('admin.categories') }}" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {% if form.csrf_token.errors %}
                  <ul class="alert alert-danger alert-login">
                    {% for error in form.csrf_token.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
                <dl>
                  {{ render_field(form.name) }}
                  {{ render_field(form.parent) }}
                  {{ render_field(form.base_img) }}
                  {{ render_field(form.meta_description) }}
                <dl>
                  <p><input class="btn btn-default" id="create-category-btn" type="submit" value="Criar"></input></p>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title"><div class="title">Categorias</div></div>
            </div>
            <div class="card-body">
              <table class="datatable table table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Categoria pai</th>
                        <th>Base image</th>
                        <th>Meta-description</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Categoria pai</th>
                        <th>Base image</th>
                        <th>Meta-description</th>
                    </tr>
                </tfoot>
                <tbody>
                  {% for category in categories %}
                    <tr>
                      <td>{{ category.id }}</td>
                      <td>{{ category.name }}</td>
                      <td>{{ category.parent }}</td>
                      <td><a href="{{ category.base_img }}">Ver imagem</a></td>
                      <td>{{ category.meta_description }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
