{% extends 'admin/navigation.html' %}
{% from "macros/formhelpers.html" import render_field %}

{% block title %}
  {{ super() }}
  Gerenciador de produtos
{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('admin.static', filename='css/style.css') }}">
{% endblock %}

{% block main_content %}
<!-- Main Content -->
  <div class="container-fluid">
    <div class="side-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title"><div class="title">Importar do google sheets</div></div>
            </div>
            <div class="card-body">
              <div class="text-indent">
                Para importar algo do google sheets, precisamos do id da sua
                tabela. Note, por favor, que o formato deve estar de acordo com
                o esperado pelo programa. Para saber o formato correto, favor
                consultar o suporte. Nao tente importar se voce nao tem certeza
                do formato aceito.
              </div>
              <form method="post" action="{{ url_for('admin.import_sheet') }}" accept-charset="UTF-8">
                {{ import_form.hidden_tag() }}
                {{ render_field(import_form.sheet_id) }}
                {{ render_field(import_form.sheet_name) }}
                <button type="submit" class="btn btn-warning">Importar</button>
              </form>
            </div>
          </div>
        </div>
        {% include 'admin/partials/productform.html' %}
        <div class="col-xs-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title"><div class="title">Produtos</div></div>
            </div>
            <div class="card-body">
              <button id="edit-btn" class="btn btn-default">Confirmar edições</button>
              <button id="delete-btn" class="btn btn-default">Deletar seleção</button>
              <table id="datatable" class="display" width="100%">
                <thead>
                    <tr>
                        <th>
                          <div class="checkbox3 checkbox-inline checkbox-check checkbox-light">
                            <input type="checkbox" data-toggle="select-all" id="select-all">
                            <label for="select-all"></label>
                          </div>
                        </th>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Categoria</th>
                        <th>Atributos</th>
                        <th>Meta-description</th>
                        <th>Permalink</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Categoria</th>
                        <th>Atributos</th>
                        <th>Meta-description</th>
                        <th>Permalink</th>
                    </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js"></script>
<script>
// items selection stuff (from viewer)
// should stay here
var editCategoryField = $('{{ form.category(style="width:100%")|safe }}');
var editDescriptionField = $('{{ form.description()|safe }}');
var editNameField = $('{{ form.name()|safe }}');
var editSKUField = $('{{ form.sku()|safe }}');
var editPriceField = $('{{ form.price()|safe }}');
var editQtyField = $('{{ form.quantity()|safe }}');
var editMetaField = $('{{ form.meta_description()|safe }}');
var getUri = "{{ url_for('admin.get_products') }}";
var deleteUri = "{{ url_for('admin.delete_products') }}";
var editUri = "{{ url_for('admin.edit_products') }}";
</script>
<script src="{{ url_for('admin.static', filename='js/rest.js') }}"></script>
<script src="{{ url_for('admin.static', filename='js/product.js') }}"></script>
{% endblock %}
