{% extends 'admin/navigation.html' %}
{% from "macros/formhelpers.html" import render_field %}

{% block title %}
  {{ super() }}
  Gerenciador de usuários
{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('admin.static', filename='css/style.css') }}">
{% endblock %}

{% block main_content %}
<!-- Main Content -->
  <div class="container-fluid">
    <div class="side-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title"><div class="title">Criar Usuário</div></div>
            </div>
            <div class="card-body">
              <form action="{{ url_for('admin.users') }}" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {% if form.csrf_token.errors %}
                  <ul class="alert alert-danger alert-login">
                    {% for error in form.csrf_token.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
                <dl>
                  {{ render_field(form.name) }}
                  {{ render_field(form.dob) }}
                  {{ render_field(form.email) }}
                  {{ render_field(form.password) }}
                  <div class="checkbox3 checkbox-inline checkbox-check checkbox-light">
                    {{ form.is_admin()|safe }}
                    {{ form.is_admin.label }}
                  </div>
                <dl>
                  <p><input class="btn btn-default" id="create-user-btn" type="submit" value="Criar"></input></p>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title"><div class="title">Usuários</div></div>
            </div>
            <div class="card-body">
              <table id="datatable" class="display" width="100%">
                <button id="edit-btn" class="btn btn-default">Confirmar edições</button>
                <button id="delete-btn" class="btn btn-default">Deletar seleção</button>
                <thead>
                  <tr role="row">
                    <th></th>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Data de nascimento</th>
                    <th>Endereços</th>
                    <th>Ordens</th>
                    <th>Lista de desejos</th>
                    <th>Mudar senha</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr row="role">
                    <th></th>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Data de nascimento</th>
                    <th>Endereços</th>
                    <th>Ordens</th>
                    <th>Lista de desejos</th>
                    <th>Mudar senha</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for user in users %}
                    <tr role="row">
                      <td class="dt-body-center">
                        <div class="checkbox3 checkbox-inline checkbox-check checkbox-light">
                          <input type="checkbox" data-toggle="select-row" id="select-{{ user['_id'] }}"></input>
                          <label for="select-{{ user['_id'] }}"></label>
                        </div>
                      </td>
                      <td id="id" class="id">{{ user['_id'] }}</td>
                      <td id="name" class="name">
                        <div class="value">{{ user['name'] }}</div>
                        <a href="#"><span class="edit-attribute glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                      </td>
                      <td id="email" class="email">
                        <div class="value">{{ user['email'] }}</div>
                        <a href="#"><span class="edit-attribute glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                      </td>
                      <td id="dob" class="dob">
                        <div class="value">{{ user['dob'] }}</div>
                        <a href="#"><span class="edit-attribute glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                      </td>
                      <td>{{ user['addresses'] }}</td>
                      <td>{{ user['orders'] }}</td>
                      <td>{{ user['wishlist'] }}</td>
                      <td id="password" class="password">
                        <a href="#"><span class="edit-attribute glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js"></script>
<script>
var deleteUri = "{{ url_for('admin.delete_users') }}";
var editUri = "{{ url_for('admin.edit_users') }}";
var editNameField = $('{{ form.name()|safe }}');
var editEmailField = $('{{ form.email()|safe }}');
var editDobField = $('{{ form.dob()|safe }}');
var editPassField = $('{{ form.password()|safe }}');
</script>
<script src="{{ url_for('admin.static', filename='js/rest.js') }}"></script>
<script src="{{ url_for('admin.static', filename='js/user.js') }}"></script>
<script src="{{ url_for('admin.static', filename='js/edit.js') }}"></script>
{% endblock %}
