{% extends 'admin/navigation.html' %}

{% block title %}
  {{ super() }}
  Gerenciador de usuários
{% endblock %}

{% block main_content %}
<!-- Main Content -->
  <div class="container-fluid">
    <div class="side-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title"><div class="title">Usuários</div></div>
            </div>
            <div class="card-body">
            <table class="datatable table table-striped" cellspacing="0" width="100%">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Nome</th>
                      <th>Email</th>
                      <th>Data de nascimento</th>
                      <th>Endereços</th>
                      <th>Ordens</th>
                      <th>Lista de desejos</th>
                  </tr>
              </thead>
              <tfoot>
                  <tr>
                      <th>Id</th>
                      <th>Nome</th>
                      <th>Email</th>
                      <th>Data de nascimento</th>
                      <th>Endereços</th>
                      <th>Ordens</th>
                      <th>Lista de desejos</th>
                  </tr>
              </tfoot>
              <tbody>
                {% for user in users %}
                  <tr>
                    <td>{{ user['_id'] }}</td>
                    <td>{{ user['name'] }}</td>
                    <td>{{ user['email'] }}</td>
                    <td>{{ user['dob'] }}</td>
                    <td>{{ user['addresses'] }}</td>
                    <td>{{ user['orders'] }}</td>
                    <td>{{ user['wishlist'] }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
