<div class='user-title'>
  <h3 class="uppercase"><b>Endereços</b></h3>
  <hr>
</div>
<p ng-hide="addressesService.addresses.length" id="no-address-text" class="italic">Nenhum endereço registrado.</p>
<div class="card-background" ng-if="addressesService.addresses.length > 0">
  <div class="card-panel" ng-repeat="address in addressesService.addresses track by address._id">
    <div class="card-bar"></div>
    <div class="select-address pointer uppercase" ng-click="chooseAddress($event, address)">
      <div class="address">
        <div class="float-left">
          <div>
            <span class="field-value"><b>{a address['street_address_1'] + ', ' + address['street_number'] a}</b></span>
          </div>
          <div>
            <span class="field-value" ng-if="address['street_address_2'] != ''"><b>{a address['street_address_2'] a}</b></span>
            <span class="field-value">{a address['zip_code'] a}</span>
          </div>
        </div>
        <div class="float-right">
          <b>
          <div>
            <span class="field-value">{a address['city'] a}, </span>
            <span class="field-value">{a address['state'] a}</span>
          </div>
          <span class="field-value">{a address['neighbourhood'] a}</span>
          </b>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="options-btn">
        <a class="pointer" data-toggle="modal" data-target="#edit-{a address['_id'] a}-modal">
          <i class="fa fa-edit"></i>
          Editar
        </a>
        <a class="pointer"
          ng-click="addressesService.deleteAddress(address['_id']);
          $event.preventDefault();" href="#">
          <i class="fa fa-close"></i>
          Remover
        </a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div id="edit-{a address['_id'] a}-modal" class="modal fade address-modal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-header">
          <h4 class="inline">Editar endereço</h4>
          <button ng-click="addressesService.reset();" type="button" class="close inline" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" ng-controller="AddressController">
          <form class="address-form" ng-submit="addAddress()" method="post">
            <div class="form-field">
              <p class="form-field-title">cep</p>
              <input type="text" class="form-control cep" ng-model="address['zip_code']" ui-mask="99999-999" model-view-value="true"/>
            </div>
            <div class="form-field">
              <p class="form-field-title">Endereço<p>
              <input type="text" class="form-control" ng-model="address['street_address_1']"/>
            </div>
            <div class="form-field">
              <p class="form-field-title">Bairro</p>
              <input type="text" class="form-control" ng-model="address['neighbourhood']"/>
            </div>
            <div class="form-field">
              <div class="form-field-group">
                <p class="form-field-title">Número</p>
                <input maxlength="6" ng-keypress="addressesService.isNumeric($event)" type="text" class="form-control" ng-model="address['street_number']"/>
              </div>
              <div class="form-field-group">
                <p class="form-field-title">Complemento</p>
                <input type="text" class="form-control" ng-model="address['street_address_2']"/>
              </div>
            </div>
            <div class="form-field">
              <div class="form-field-group">
                <p class="form-field-title">Cidade</p>
                <input type="text" class="form-control" ng-model="address['city']"/>
              </div>
              <div class="form-field-group">
                <span class="form-field-title">Estado</span>
                <input type="text" class="form-control" ng-model="address['state']"/>
              </div>
            </div>
            <div class="duvet-btn-wrapper text-right">
              <a href="#" ng-click="editAddress(address, $index);
                $event.preventDefault();" class="duvet-btn align-fix">Editar</a>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="add-address-modal" class="modal fade address-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-header">
      <h4 class="inline uppercase">Cadastrar endereço</h4>
      <button type="button" class="close inline" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body" ng-controller="AddressController">
      <form class="address-form" ng-submit="addAddress()" method="post">
        <ul class="alert alert-success" ng-show="form_success">
          <li>{a form_success a}</li>
        </ul>
        {{ form.hidden_tag() }}
        <p class="form-field-title outer">Pesquise pelo seu cep!</p>
        <div class="form-field">
          <p class="form-field-title">{{ form.zip_code.label }}</p>
          {{ form.zip_code(**{'ng-model':'form.zip_code', 'ui-mask':'99999-999', 'model-view-value': 'true', 'class':'cep'})|safe }}
          <button class="search-cep" ng-click="getAddressByCep();$event.preventDefault()"><i class="fa fa-angle-double-right"></i></button>
          <ul class="alert alert-danger" ng-show="form_errors.zip_code">
            <li ng-repeat="error in form_errors.zip_code">{a error a}</li>
          </ul>
        </div>
        <p class="form-field-title outer">não sabe seu cep? <a target="busca_cep" href="http://www.buscacep.correios.com.br/sistemas/buscacep/">clique aqui!</a></p>
        <div class="form-field">
          <p class="form-field-title">{{ form.street_address_1.label }}</p>
          {{ form.street_address_1(**{'ng-model':'form.street_address_1'})|safe }}
          <ul class="alert alert-danger" ng-show="form_errors.street_address_1">
            <li ng-repeat="error in form_errors.street_address_1">{a error a}</li>
          </ul>
        </div>
        <div class="form-field">
          <p class="form-field-title">{{ form.neighbourhood.label }}</p>
          {{ form.neighbourhood(**{'ng-model':'form.neighbourhood'})|safe }}
          <ul class="alert alert-danger" ng-show="form_errors.neighbourhood">
            <li ng-repeat="error in form_errors.neighbourhood">{a error a}</li>
          </ul>
        </div>
        <div class="form-field">
          <div class="form-field-group">
            <p class="form-field-title">{{ form.street_number.label }}</p>
            {{ form.street_number(**{'maxlength':'6',
            'ng-keypress':'addressesService.isNumeric($event);', 'ng-model':'form.street_number'})|safe }}
            <ul class="alert alert-danger" ng-show="form_errors.street_number">
              <li ng-repeat="error in form_errors.street_number">{a error a}</li>
            </ul>
          </div>
          <div class="form-field-group">
            <p class="form-field-title">{{ form.street_address_2.label }}</p>
            {{ form.street_address_2(**{'ng-model':'form.street_address_2'})|safe }}
            <ul class="alert alert-danger" ng-show="form_errors.street_address_2">
              <li ng-repeat="error in form_errors.street_address_2">{a error a}</li>
            </ul>
          </div>
        </div>
        <div class="form-field">
          <div class="form-field-group">
            <p class="form-field-title">{{ form.city.label }}</p>
            {{ form.city(**{'ng-model':'form.city'})|safe }}
            <ul class="alert alert-danger" ng-show="form_errors.city">
              <li ng-repeat="error in form_errors.city">{a error a}</li>
            </ul>
          </div>
          <div class="form-field-group">
            <p class="form-field-title">{{ form.state.label }}</p>
            {{ form.state(**{'ng-model':'form.state'})|safe }}
            <ul class="alert alert-danger" ng-show="form_errors.state">
              <li ng-repeat="error in form_errors.state">{a error a}</li>
            </ul>
          </div>
        </div>
        <div class="duvet-btn-wrapper add-address-btn text-right">
          <input class="duvet-btn align-fix" type="submit" value="Salvar">&nbsp;</input>  
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
<div ng-if="selectedAddress['valid'] === false">
  <div class="alert alert-danger">
    <p>Endereço inválido. Os ceps do endereço selecionado e do cálculo de
    frete são diferentes. Por favor, selecione outro endereço ou volte e
    refaça o cálculo do frete.</p>
  </div>
</div>
<div class="duvet-btn-wrapper add-address-btn text-right">
  <a class="duvet-btn align-fix" type="button" data-toggle="modal" data-target="#add-address-modal">
    <i class="fa fa-plus"></i> Adicionar endereço
  </a>
</div>
