<div id="cart" class="hidden user-info">
  <div class="user-title">
    <h3>Suas compras</h3>
    <hr>
  </div>
  <p ng-hide="cart.length">Você não possui nenhum item no seu carrinho</p>
  <div class="panel cart-line-panel" ng-repeat="item in cart">
    <div class="panel-header">
      <div class="field-title inline">
          <a href="#">
            {a item['name'] a}
          </a>
      </div>
      <div class='inline float-right'>
        <a ng-click="removeItem(item['_id']); $event.preventDefault();" href="#"><i class="fa fa-close"></i> Remover</a>
      </div>
      <span class="item-price">{a item['price'] a}</span>
    </div>
    <div class="panel-body">
      <span class="item-id hidden">{a item['_id'] a}</span>
      <div class="field-row">
        <div class="field">
          <p class="field-title">Categoria</p>
          <p class="field-value">
            <a href="#">
              {a item['category']['name'] a}
            </a>
          <p>
        </div>
        <div id="quantity-field-{a item['_id'] a}" class="field">
          <p class="field-title">Quantidade</p>
          <p class="field-value">
            {a item['quantity'] a}
            <a title="Editar" class="item-qty" href="#">
              <i data-toggle="quantity-input-{a item['_id'] a}" ng-click="toggleEdit($event); $event.preventDefault();" class="fa fa-edit"></i>
            </a>
          </p>
        </div>
        <div class='input hidden' id="quantity-input-{a item['_id'] a}">
          <p class="field-title">Quantidade</p>
          <input name="quantity" min="0" type="number" step="1" class="form-control" ng-model="item['quantity']"}>
          <a title="Confirmar" href="#">
            <i class="fa fa-check" ng-click="confirmEdit($event, item['_id']); $event.preventDefault();" aria-hidden="true"></i>
          </a>
          <a title="Cancelar" href="#">
            <i data-toggle="quantity-field-{a item['_id'] a}" ng-click="toggleEdit($event); $event.preventDefault();" class="fa fa-close" aria-hidden="true"></i>
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
        <div class="field-row" ng-if="item.hasOwnProperty('attributes')">
          <p class="field-title">Detalhes</p>
          <p ng-repeat="attr in item['attributes']">{a attr a}: {a item['attributes'][attr] a}</p>
        </div>
    </div>
  </div>
  <a href="#" id="checkout-btn" class="product-btn">Finalizar compra</a>
  <div class="clearfix"></div>
</div>
