<div id="orders" class="hidden user-info">
  <div class="user-title">
    <h3 class="uppercase">compras</h3>
    <hr>
  </div>
  {% if current_user.orders.count() == 0 %}
    <p>Você não fez nenhuma compra ainda</p>
  {% else %}
    {% for order in current_user.orders %}
      <div class='order-reference'>
        <b>Ordem n. {{ order['reference'] }}</b>
      </div>
      <div class="order-status">
        <span>Condição: {{ order['status']['msg'] }}</span>
      </div>
      <table width="100%" class="order-table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Preço unitário</th>
            <th>Quantidade</th>
            <th>Total do produto</th>
          </tr>
        </thead>
          {% for item in order['cart_info']['items'] %}
            <tr>
              <td>{{ item['name'] }}</td>
              <td>R$ {{ item['price'] }}</td>
              <td>{{ item['quantity'] }}</td>
              <td>
                R$ {{ ('%.2f' % (item['quantity']*item['price']))|string|replace('.',',') }}
              </td>
            </tr>
          {% endfor %}
          <tr class="shipping">
            <td>Frete</td>
            <td></td>
            <td></td>
            <td>
              R$ {{ ('%.2f' % order['cart_info']['shipping']['cost'])|string|replace('.',',') }}
            </td>
          </tr>
          {% if order['cart_info']['installments']['quantity'] > 1 %}
            <tr class="installments">
              <td>Parcelamento</td>
              <td></td>
              <td>
                {{ order['cart_info']['installments']['quantity'] }}x
                R${{ order['cart_info']['installments']['installmentAmount']|string|replace('.',',') }}
              </td>
              <td><b>
                R$ {{ ('%.2f' % order['cart_info']['installments']['totalAmount'])|string|replace('.',',') }}
              </b></td>
            </tr>
          {% else %}
            <tr class="total">
              <td>Total</td>
              <td></td>
              <td></td>
              <td><b>
                R$ {{ ('%.2f' % order['cart_info']['installments']['totalAmount'])|string|replace('.',',') }}
              </b></td>
            </tr>
          {% endif %}
        <tbody>
      </table>
      <div class="order-address">
        <span><b>Endereço de entrega</b></span>
        <div class="card-background">
          <div class="card-panel">
            <div class="card-bar"></div>
            <div class="uppercase select-address">
              <div class="address">
                <div class="float-left">
                  <div>
                    <span class="field-value"><b>
                        {{ order['address']['street_address_1'] }},
                        {{ order['address']['street_number'] }}</b></span>
                  </div>
                  <div>
                    <span class="field-value"><b>{{ order['address']['street_address_2'] }}</b></span>
                    <span class="field-value">{{ order['address']['zip_code'] }}</span>
                  </div>
                </div>
                <div class="float-right">
                  <b>
                  <div>
                    <span class="field-value">{{ order['address']['city'] }}, </span>
                    <span class="field-value">{{ order['address']['state'] }}</span>
                  </div>
                  <span class="field-value">{{ order['address']['neighbourhood'] }}</span>
                  </b>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
