<div id="orders" class="hidden user-info">
  <div class="user-title">
    <h3 class="uppercase">compras</h3>
    <hr>
  </div>
  {% if current_user.orders.count() == 0 %}
    <p>Você não fez nenhuma compra ainda</p>
  {% else %}
    {% for order in current_user.orders %}
      <div class="panel">
        <div class="panel-header">
          Ordem n. {{ order['reference'] }}
        </div>
        <div class="panel-body">
          <p>Valor total: R$ {{ ('%.2f' % (order['cart_info']['total']))|string|replace('.',',') }}
          </p>
          <p>Suas compras:</p>
          {% for item in order['cart_info']['items'] %}
            <div class="cart-item">
              <p>Produto: {{ item['name']}}</p>
              <p>Quantidade: {{ item['quantity']}}</p>
              <p>Preço unitário: R$ {{ item['price']}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
