<div id="profile" class="user-info col-xs-12">
  <div class="row">
    <div class="col-md-6" id="profile-data">
      <div class="user-title">
        <h3 class="inline">Usuário</h3>
        <a class="btn btn-default inline float-right" href="#" ng-click="editUser(); $event.preventDefault();">
          <i class="fa fa-check"></i> Confirmar edições
        </a>
        <hr>
      </div>
      <div class="field">
        <div class='field-title'>Nome</div>
        <div class="field-value" id="name-field">
          {a user['name'] a}
          <a title="Editar" href="#">
            <i ng-click="toggleEdit($event); $event.preventDefault();" class="fa fa-edit"></i>
          </a>
        </div>
        <div class="field-input hidden" id="name-input">
          <input name="name" type="text" class="form-control" ng-model="user['name']">
          <a title="Cancelar" href="#">
            <i ng-click="toggleEdit($event); $event.preventDefault();" class="fa fa-close cancel-name"></i>
          </a>
        </div>
      </div>
      <div class="field">
        <div class='field-title'>Email</div>
        <div class='field-value' id="email-field">
          {a user['email'] a}
          <a title="Editar" href="#">
            <i ng-click="toggleEdit($event); $event.preventDefault();" class="fa fa-edit"></i>
          </a>
        </div>
        <div class='field-input hidden' id="email-input">
          <input name="email" type="text" class="form-control" ng-model="user['email']">
          <a title="Cancelar" href="#">
            <i ng-click="toggleEdit($event); $event.preventDefault();" class="fa fa-close cancel-email"></i>
          </a>
        </div>
      </div>
      <div class="field">
        <div class='field-title'>Data de nascimento</div>
        <div class="field-value" id="dob-field">
          <span ng-if="user['dob'] != null">{a parseDate(user['dob']) a}</span>
          <span ng-if="user['dob'] == null">Não informada</span>
          <a title="Editar" href="#">
            <i ng-click="toggleEdit($event); $event.preventDefault();" class="fa fa-edit"></i>
          </a>
        </div>
        <div class="field-input hidden" id="dob-input">
          <input name="dob" type="date" class="form-control" ng-model="user['dob']">
          <a title="Cancelar" href="#">
            <i ng-click="toggleEdit($event); $event.preventDefault();" class="fa fa-close cancel-dob"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6" id="addresses-data">
      {% include 'partials/user/addresses.html' %}
    </div>
  </div>
</div>

