<div id="profile" class="user-info col-xs-12">
  <div class="row">
    <div class="col-md-6" id="profile-data">
      <div class="user-title">
        <h3 class="inline">Usuário</h3>
        <a class="btn btn-default inline float-right" href="#" id="edit-profile">
          <i class="fa fa-check"></i> Confirmar edições
        </a>
        <hr>
      </div>
      <div class="user-field">
        <h5 class='field-title'>Nome:</h5>
        <div class="field" id="name-field">
          <span class='field-value'>{{ current_user.name }}</span>
          <a title="Editar" href="#">
            <span data-toggle="#name-input" class="edit-attribute glyphicon glyphicon-edit" aria-hidden="true"></span>
          </a>
        </div>
        <div class="input hidden" id="name-input">
          <input type="text" class="form-control" placeholder="{{ current_user.name }}">
          <a title="Cancelar" href="#">
            <span data-toggle="#name-field" class="cancel-edit-attribute glyphicon glyphicon-remove" aria-hidden="true"></span>
          </a>
        </div>
      </div>
      <div class="user-field">
        <h5 class='field-title'>Email:</h5>
        <div class='field' id="email-field">
          <span class='field-value'>{{ current_user.email }}</span>
          <a title="Editar" href="#">
            <span data-toggle="#email-input" class="edit-attribute glyphicon glyphicon-edit" aria-hidden="true"></span>
          </a>
        </div>
        <div class='input hidden' id="email-input">
          <input type="text" class="form-control" placeholder="{{ current_user.email }}">
          <a title="Cancelar" href="#">
            <span data-toggle="#email-field" class="cancel-edit-attribute glyphicon glyphicon-remove" aria-hidden="true"></span>
          </a>
        </div>
      </div>
      <div class="user-field">
        <h5 class='field-title'>Data de nascimento:</h5>
        <div class="field" id="dob-field">
          {% if current_user.dob is not none %}
            <span class='field-value'>{{ current_user.dob }}</span>
          {% else %}
            <span class='field-value'>Não informada</span>
          {% endif %}
          <a title="Editar" href="#">
            <span data-toggle="#dob-input" class="edit-attribute glyphicon glyphicon-edit" aria-hidden="true"></span>
          </a>
        </div>
        <div class="input hidden" id="dob-input">
          <input type="date" class="form-control">
          <a title="Cancelar" href="#">
            <span data-toggle="#dob-field" class="cancel-edit-attribute glyphicon glyphicon-remove" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6" id="addresses-data">
      {% include 'partials/user/addresses.html' %}
    </div>
  </div>
</div>

