<div id="profile" class="user-info col-xs-12">
  <div class="row">
    <div class="col-md-6" id="profile-data">
      <div class="user-title">
        <h3>Informações</h3>
        <hr>
      </div>
      <div class="field">
        <div class='field-title inline'>Nome: </div>
        <div class="field-value inline" id="name-field">
          {a user['name'] a}
        </div>
        <div class="field-input inline hidden" id="name-input">
          <input name="name" type="text" class="form-control" ng-model="user['name']">
        </div>
      </div>
      <div class="field">
        <div class='field-title inline'>Email: </div>
        <div class='field-value inline' id="email-field">
          {a user['email'] a}
        </div>
        <div class='field-input inline hidden' id="email-input">
          <input name="email" type="text" class="form-control" ng-model="user['email']">
        </div>
      </div>
      <div class="field">
        <div class='field-title inline'>Data de nascimento: </div>
        <div class="field-value inline" id="dob-field">
          <span ng-if="user['dob'] != null">{a parseDate(user['dob']) a}</span>
          <span ng-if="user['dob'] == null">Não informada</span>
        </div>
        <div class="field-input inline hidden" id="dob-input">
          <input name="dob" type="date" class="form-control" ng-model="user['dob']">
        </div>
      </div>
      <div class="duvet-btn-wrapper text-right">
        <a class="duvet-btn edit-user-btn" href="#" ng-click="toggleEditUser(); $event.preventDefault();">
          <i class="fa fa-edit"></i> Editar
        </a>
        <a class="duvet-btn edit-user-btn hidden" href="#" ng-click="toggleEditUser(); $event.preventDefault();">
          <i class="fa fa-edit"></i> Cancelar
        </a>
        <a class="duvet-btn edit-user-btn hidden" href="#" ng-click="editUser(); $event.preventDefault();">
          <i class="fa fa-check"></i> Salvar
        </a>
      </div>
    </div>
    <div class="col-md-6" id="addresses-data">
      {% include 'partials/user/addresses.html' %}
    </div>
  </div>
</div>

