<div class="list-group">
  <li class="list-group-item active">
    <h3 class="list-group-item-heading">
      {{ current_user.name }}
    </h3>
  </li>
  <a href="#" class="list-group-item active" id="profile-btn" data-toggle="#profile">
    Perfil
  </a>
  <a href="#" class="list-group-item" id="cart-btn" data-toggle="#cart">
    Meu Carrinho
  </a>
  <a href="#" class="list-group-item" id="orders-btn" data-toggle="#orders">
    Meus Pedidos
  </a>
  {#
   <a href="#" class="list-group-item" id="addresses-btn" data-toggle="#addresses">
    Livro de Endereços
  </a>
  #}
  {# Removed for now.. To be implemented in later
  <a href="#" class="list-group-item" id="payment-btn" data-toggle="#payment">
    Formas de pagamento
  </a>
  #}
  <a href="#" class="list-group-item" id="wishlist-btn" data-toggle="#wishlist">
    Lista de desejos
  </a>
  <a href="#" class="list-group-item" id="logout-btn" data-toggle="#logout">
    Sair
  </a>
</div>
