<div class="list-group">
  <a href="#" class="list-group-item active uppercase" id="profile-btn" data-toggle="#profile">
    Perfil
  </a>
  <a href="#" class="list-group-item" id="cart-btn" data-toggle="#cart">
    Meu Carrinho
  </a>
  <a href="#" class="list-group-item" id="orders-btn" data-toggle="#orders">
    Minhas Compras
  </a>
  <a href="#" class="list-group-item" id="wishlist-btn" data-toggle="#wishlist">
    Lista de desejos
  </a>
  <a href="#" class="list-group-item" id="logout-btn" data-toggle="#logout">
    Sair
  </a>
</div>
