{% macro product_panel(product) %}
  <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-6 col-md-4">
    <a href="{{ url_for('product', c_permalink = product.category['permalink'], p_permalink = product.permalink) }}">
      <div class="panel panel-default">
        <div class="panel-body" style="background-image: url({{ product.variants[0]['images'][0]['thumb'] }})">
        </div>
        <div class="panel-footer">
            {{ product.variants[0].price }}
            {{ product.name }}
        </div>
      </div>
    </a>
  </div>
{% endmacro %}
