body, html {
    height: 100%;
    width: 100%;
    display: block;
}

a, a:link, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

#navbar-wrapper {
    margin-bottom: 0;
}

/*
 * settings all header's width to 100%
*/
#header, #myCarousel, .item, .carousel-inner, .header-img {
    width:100%;
}

/*
 * sidebar pages settings (for now used only in the profile page)
 */

#sidebar-content-wrapper {
    height: calc(100% - 192px);
    padding-top: 8em;
}

#sidebar-content-wrapper > .row {
    height: 100%;
}

#main-content > h4:first-child {
    padding-top: 0;
    margin-top: 0;
}

.list-group-item.active,
.list-group-item.active:link,
.list-group-item.active:visited,
.list-group-item.active:active,
.list-group-item.active:hover {
    background-color: #222;
    border-color: #222;
    border-top-color: #ddd;
    border-bottom-color: #ddd;
}

/*
 * product background
 */
#product-page {
    width: 100%;
    height: calc(100% - 51px);
    background-size: cover;
}

.gradient {
    height: 100%;
    background-image: linear-gradient(to right, transparent, #161616);
    opacity: 1;
}

/* product info
 *
 */

#product-content {
    padding-top: 2em;
    color: white;
}

#product-nav {
    text-align: right;
}

#product-title {
    margin-top: 4em;
}

.product-info {
    margin-top: 2em;
}

.product-info > h4 {
    text-decoration: underline;
}


/*
 * tweaking with panel's border style
 */
.panel {
    border: 0px;
    border-radius: 0px;
}

.panel > .panel-heading {
    border-radius: 0px;
    background-color: #8497a9;
    border: 1px solid #8497a9;
}

.panel > .panel-body {
    border: 1px solid #ddd;
    border-top: 0px;
}

#footer-wrapper {
    background-color: #222;
    color: #9d9d9d;
    border-top: 1px solid #080808;
    width: 100%;
}

footer {
    margin-top: 20px;
    height: 120px;
}
