/*
 * general settings
 */

body, html {
  height: 100%;
  width: 100%;
  display: block;
}

a:not(.link),
a:link:not(.link),
a:hover:not(.link),
a:visited:not(.link),
a:active:not(.link) {
  text-decoration: none;
}

.text-right {
  align-text: right;
}

.hidden {
  display: none;
}

/*
 * navbar
 */

#navbar-wrapper {
  margin-bottom: 0;
}

/*
 * headers
*/

#header, #myCarousel, .item, .carousel-inner, .header-img {
  width:100%;
}

/*
 * index stuff
 */

#index-content-wrapper {
  width: 100%;
}

.category-panel {
  padding: 0 0 39px 0;
  text-align: center;
  background-color: lightblue;
}

.img-holder > img {
  width: 80%;
  margin: auto;
}

#category-panel-1 {
  background-color: lightgreen;
}

#category-panel-2 {
  background-color: grey;
}

#category-panel-3 {
  background-color: red;
}

#category-panel-4 {
  background-color: lightgrey;
}

#category-panel-5 {
  background-color: orange;
}

#front-page-text-container {
  height: 100px;
  line-height: 100px;
  text-align: center;
}

#front-page-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

/*
 * login form stuff (base.html)
 */
#login-dropdown-form {
  padding: 5px 30px 15px 30px;
}

#login-dropdown-form > h4 {
  margin-bottom: 20px;
}

#login-dropdown-form > form > input {
  margin-bottom: 10px;
}

#register {
  margin-top: 15px;
}

.alert-login {
  margin-top: 5px;
  padding: 5px;
}

.alert-login > li {
  margin-left: 15px;
}

#login-btn {
  margin-top: 5px;
}

/*
 * sidebar pages settings (for now used only in the profile page)
 */

#sidebar-content-wrapper,
#registration-content-wrapper {
  min-height: calc(100% - 192px);
  padding-top: 50px;
}

#sidebar-content-wrapper > .row {
  height: 100%;
}

#main-content > h4:first-child {
  padding-top: 0;
  margin-top: 0;
}

.list-group-item.active,
.list-group-item.active:link,
.list-group-item.active:visited,
.list-group-item.active:active,
.list-group-item.active:hover {
  background-color: #222;
  border-color: #222;
  border-top-color: #ddd;
  border-bottom-color: #ddd;
}

/*
 * product
 */
#product-page {
  min-height: calc(100% - 192px);
  padding-top: 40px;
}

#product-thumbs-carousel {
  margin-top: 20px;
}

.thumb-control {
  padding-top: 7.5%;
  width: 5%;
}


#product-content {
}

/*
 * product images
 */

#product-images-pane {
}

/*
 * product info
 */

#product-nav > span > a {
}

/*
 * tweaking with panel's border style
 */
.panel {
  border: 0px;
  border-radius: 0px;
}

.panel > .panel-heading {
  border-radius: 0px;
  border: 1px solid #ddd;
  border-bottom: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.panel > .panel-body {
  border: 1px solid #ddd;
  border-top: 0px;
}

/*
 * edit / remove buttons added to panel's heading.
 * we add 10px of margin top and bottom to equal those of h4, thus making both
 * aligned vertically inside the heading.
 */
.options-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*
 * user page stuff
 */

#profile-panel {
  border: 1px solid #ddd;
}

/*
 * footer
 */

#footer-wrapper {
  background-color: #222;
  color: #9d9d9d;
  border-top: 1px solid #080808;
  width: 100%;
}

footer {
  margin-top: 20px;
  height: 120px;
}

