<div id="checkout-addresses" class="col-md-12 hidden checkout-tab">
  {% include 'partials/user/addresses.html' %}
  <div class="duvet-btn-wrapper text-right">
    <a ng-if="selectedAddress['valid']" ng-click="moveOptions('next'); $event.preventDefault();" href="#" class="duvet-btn">
      escolher pagamento
    </a>
  </div>
  <div class="clearfix"></div>
  <div class="duvet-btn-wrapper float-left">
    <a ng-if="!selectedAddress['valid']" ng-click="moveOptions('prev'); $event.preventDefault();" href="#" class="duvet-btn">
      voltar
    </a>
  </div>
</div>
