<div id="checkout-cart" class="col-md-12 double-column border-left checkout-tab selected">
  <div class="col-xs-12 col-md-8" id="cart-table-wrapper">
    <h3 class="inline"><b>CARRINHO</b></h3><h5 class="inline"> ({a cartService.cart.totalItems a})</h5>
    <hr>
    {% include 'partials/carttable.html' %}
    <div id="frete-calc" class="cep-input duvet-input">
      <p class="form-field-title outer">Calcule seu frete</p>
      <div class="form-field">
        <p class="form-field-title">cep</p>
        {{ form.zip_code(**{'class':'cep','ng-model':'cartService.cart.zipCode', 'ui-mask':'99999-999', 'model-view-value': 'true'})|safe }}
        <button id="frete-btn" class="search-cep" ng-click="getShipping();$event.preventDefault()"><i class="fa fa-angle-double-right"></i></button>
        <div id="load-frete" class="hidden inline"><i class="fa fa-cog fa-spin fa-1x fa-fw"></i></div>
      </div>
      <p class="form-field-title outer">não sabe seu cep? <a target="busca_cep" href="http://www.buscacep.correios.com.br/sistemas/buscacep/">clique aqui!</a></p>
    </div>
  </div>
  <div class="col-xs-12 col-md-4" id="cart-total-wrapper">
    <h3 class="inline"><b>TOTAL</b></h3>
    <hr>
    <table class="summary-table">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Subtotal</td>
          <td>{a cartService.cart.subTotal | currency a}</td>
        </tr>
        <tr>
          <td>Frete</td>
          <td ng-if="cartService.cart.shipping == undefined">R$0,00</td>
          <td ng-if="cartService.cart.shipping != undefined">
            {a cartService.cart.shipping.cost | currency a}
          </td>
        </tr>
        <tr>
          <td><b>Total</b></td>
          <td><b>{a cartService.cart.total | currency a}</b></td>
        </tr>
      </tbody>
    </table>
    <div id="shipping-opts">
      <p class="alert alert-danger" ng-if="cartService.correiosErrorMsg != undefined">
        {a cartService.correiosErrorMsg a}
      </p>
      <table class="shipping-table" ng-if="cartService.shippingOpts.length > 0">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Prazo</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="shipping in cartService.shippingOpts" ng-if="shipping.Erro == 0">
            <td>
              <input id="{a shipping.Codigo a}" type="checkbox" ng-click="selectShipping($event)"></input>
              <label for="{a shipping.Codigo a}">{a shipping.Tipo a}</label>
            </td>
            <td>{a shipping.PrazoEntrega a} dias(s)</td>
            <td>{a shipping.Valor | currency a}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="duvet-btn-wrapper text-center">
      <a ng-if="cartService.shippingOpts.length <= 0" ng-click="$event.preventDefault();" href="#" class="duvet-btn disabled">
        Calcule o frete
      </a>
      <a ng-if="cartService.shippingOpts.length > 0 && cartService.cart.shipping == undefined" ng-click="$event.preventDefault();" href="#" class="duvet-btn disabled">
        Escolha o método de entrega
      </a>
      <a ng-if="cartService.cart.shipping != undefined" ng-click="moveOptions('next'); $event.preventDefault();" href="#" class="duvet-btn">
        Escolher endereço
      </a>
    </div>
  </div>
</div>

