<div id="checkout-cart" class="col-md-12">
  <div class="col-xs-12 col-md-8" id="cart-table-wrapper">
    <h3 class="inline"><b>CARRINHO</b></h3><h5 class="inline"> ({a cartService.cart.totalItems a})</h5>
    <hr>
    <p ng-if="cartService.cart.length == 0">Você não possui nenhum item no seu carrinho</p>
    <table ng-if="cartService.cart.length != 0" class="cart-table">
      <thead>
        <tr>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Preço</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in cartService.cart.items">
          <td>
            <div class="product-image">
              <img class="img-responsive" src="{a item.thumb a}"></img>
            </div>
            <div class="product-info">
              <p><b>{a item['name'] a}</b></p>
              <div class="product-attributes" ng-if="item['attributes'] != null">
                <div ng-repeat="(attr, value) in item['attributes']">
                  <b>{a attr a}:</b> {a value a}
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </td>
          <!-- Quantity -->
          <td>
            <div class="field">
              <div class="field-value">
                <span>{a item['quantity'] a}</span>
                <a title="Editar" class="item-qty" href="#">
                  <i ng-click="toggleEdit($event); $event.preventDefault();" class="fa fa-edit"></i>
                </a>
              </div>
              <div class="field-input hidden">
                <input name="quantity" min="0" type="number" step="1" class="form-control" ng-model="item['quantity']"}>
                <a title="Confirmar" href="#">
                  <i class="fa fa-check" ng-click="cartService.confirmEdit(item); $event.preventDefault();" aria-hidden="true"></i>
                </a>
                <a title="Cancelar" href="#">
                  <i ng-click="toggleEdit($event); $event.preventDefault();" class="cancel-cart fa fa-close" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </td>
          <!-- Price -->
          <td>
            <span>{a item['price'] | currency a}</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="frete-calc" class="duvet-input">
      <span>Calcule seu frete:</span>
      {{ form.zip_code(**{'ng-model':'cartService.cart.zipCode', 'ui-mask':'99999-999', 'model-view-value': 'true'})|safe }}
      <button id="frete-btn" ng-click="getShipping();$event.preventDefault()"><i class="fa fa-angle-double-right"></i></button>
      <div id="load-frete" class="hidden inline"><i class="fa fa-cog fa-spin fa-1x fa-fw"></i></div>
      <p>não sabe seu cep? <a target="busca_cep" href="http://www.buscacep.correios.com.br/sistemas/buscacep/">clique aqui!</a></p>
    </div>
  </div>
  <div class="col-xs-12 col-md-4" id="cart-total-wrapper">
    <h3 class="inline"><b>TOTAL</b></h3>
    <hr>
    <table class="summary-table">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Subtotal</td>
          <td>{a cartService.cart.subTotal | currency a}</td>
        </tr>
        <tr>
          <td>Frete</td>
          <td ng-if="cartService.cart.shipping == undefined">R$0,00</td>
          <td ng-if="cartService.cart.shipping != undefined">{a cartService.cart.shipping | currency a}</td>
        </tr>
        <tr>
          <td><b>Total</b></td>
          <td><b>{a cartService.cart.total | currency a}</b></td>
        </tr>
      </tbody>
    </table>
    <div id="shipping-opts">
      <p class="alert alert-danger" ng-if="cartService.correiosErrorMsg != undefined">
        {a cartService.correiosErrorMsg a}
      </p>
      <table class="shipping-table" ng-if="cartService.shippingOpts.length > 0">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Prazo</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="shipping in cartService.shippingOpts" ng-if="shipping.Erro == 0">
            <td>
              <input id="{a shipping.Codigo a}" type="checkbox" ng-click="selectShipping($event)"></input>
              <label for="{a shipping.Codigo a}">{a shipping.Tipo a}</label>
            </td>
            <td>{a shipping.PrazoEntrega a} dias(s)</td>
            <td>{a shipping.Valor | currency a}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="duvet-btn-wrapper text-center">
      <a ng-if="cartService.shippingOpts.length <= 0" ng-click="$event.preventDefault();" href="#" class="duvet-btn disabled">
        Calcule o frete para continuar
      </a>
      <a ng-if="cartService.shippingOpts.length > 0 && cartService.cart.shipping == undefined" ng-click="$event.preventDefault();" href="#" class="duvet-btn disabled">
        Escolha o método de entrega
      </a>
      <a ng-if="cartService.cart.shipping != undefined" ng-click="moveOptions('next'); $event.preventDefault();" href="#" class="duvet-btn">
        Escolher endereço de entrega
      </a>
    </div>
  </div>
</div>

