<div id="checkout-confirm" class="col-md-12 hidden checkout-tab">
  <h3 class="uppercase"><b>Confirmar</b></h3>
  <hr>
  <div id="cart-summary" class="buy-info">
    <table width="100%" class="confirm-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Preço unitário</th>
          <th>Quantidade</th>
          <th>Total do produto</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in cartService.cart.items">
          <td>{a item.name a}</td>
          <td>{a item.price | currency a}</td>
          <td>{a item.quantity a}</td>
          <td>{a item.quantity*item.price | currency a}</td>
        </tr>
        <tr class="shipping">
          <td>Frete</td>
          <td></td>
          <td></td>
          <td>{a cartService.cart.shipping.cost | currency a}</td>
        </tr>
        <tr class="total">
          <td>Total</td>
          <td></td>
          <td></td>
          <td><b>{a cartService.cart.total | currency a}</b></td>
        </tr>
        <tr ng-if="paymentService.card.installments.quantity > 1" class="installments">
          <td>
            Parcelamento
          </td>
          <td></td>
          <td>
           {a paymentService.card.installments.quantity a}x
           {a paymentService.card.installments.installmentAmount|currency a}
          </td>
          <td><b>{a paymentService.card.installments.totalAmount|currency a}</b></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-12 col-md-6">
    <div id="address-summary" class="buy-info">
      <p><b>Endereço</b></p>
      <div class="card-background" ng-if="selectedAddress != null">
        <div class="card-panel">
          <div class="card-bar"></div>
          <div class="select-address uppercase">
            <div class="address">
              <div class="float-left">
                <div>
                  <span class="field-value"><b>{a selectedAddress['street_address_1'] + ', ' + selectedAddress['street_number'] a}</b></span>
                </div>
                <div>
                  <span class="field-value" ng-if="selectedAddress['street_address_2'] != ''"><b>{a selectedAddress['street_address_2'] a}</b></span>
                  <span class="field-value">{a selectedAddress['zip_code'] a}</span>
                </div>
              </div>
              <div class="float-right">
                <b>
                <div>
                  <span class="field-value">{a selectedAddress['city'] a}, </span>
                  <span class="field-value">{a selectedAddress['state'] a}</span>
                </div>
                <span class="field-value">{a selectedAddress['neighbourhood'] a}</span>
                </b>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div id="payment-summary" class="buy-info">
      <p><b>Pagamento</b></p>
      <div class="card-background" ng-if="selectedCard != null">
        <div class="card-panel">
          <div class="card-bar"></div>
          <div class="select-card uppercase">
            <div class="card">
              <div class="float-left">
                <div>
                  <span class="field-value"><b>{a selectedCard.holderName a}</b></span>
                </div>
                <div>
                  <span>cvc: </span>
                  <span class="field-value"><b>{a selectedCard.cvv a}</b></span>
                </div>
              </div>
              <div class="float-right">
                <div>
                  <span class="field-value"><b>{a selectedCard.number a}</b></span>
                  <img src="{a selectedCard.brandInfo.img a}"></img>
                </div>
                <div>
                  <span class="field-value">val: </span>
                  <span class="field-value"><b>{a selectedCard.expMonth a}/{a selectedCard.expYear a}</b></span>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="duvet-btn-wrapper">
    <div id="confirm-btn" class="duvet-btn align-fix" ng-click="confirmBuy()">
      finalizar compra
    </div>
  </div>
</div>
