{% from "macros/formhelpers.html" import render_field %}
<div id="checkout-payment" class="col-md-12 hidden checkout-tab">
  <form name="paymentForm" ng-controller="PagSeguroController" ng-submit="confirmCard()">
    <div class="col-sm-12 col-md-6">
      <h3 class="uppercase"><b>Cartão</b></h3>
      <hr>
      <span ng-show="paymentService.card.brandInfo.name">
        <img src="{a paymentService.card.brandInfo.img a}"></img>
      </span>
      <div class="form-field">
        <p class="form-field-title">Número</p>
        <input name="cardNumber" ng-model="paymentService.card.number" class="form-control" ng-change="checkNumber()"
        type="text" ng-required="true" name="cardNumber" ng-blur="checkNumberSize()"></input>
        {#
        <p class="alert alert-danger" ng-show="paymentForm.cardNumber.$error.size">
          Número inválido. Por favor, confira se você digitou corretamente.
        </p>
        #}
      </div>
      <div class="form-field">
        <p class="form-field-title">Titular</p>
        <input name="holderName" ng-model="paymentService.card.holderName" class="form-control"
        type="text" required minlength="6"></input>
      </div>
      <div class="form-field">
        <div class="form-field-group">
          <p class="form-field-title">CVC</p>
          <input name="cardCvv" ng-model="paymentService.card.cvv" class="form-control"
          ng-change="checkCvv()" type="text" required maxlength="4"></input>
          {#
          <p class="alert alert-danger" ng-show="paymentForm.cardCvv.$error.size">
            Código de segurança inválido
          </p>
          #}
        </div>
        <div class="form-field-group">
          <p class="form-field-title">Val.</p>
          <div class="dual-input">
            <input name="cardMonth" ng-model="paymentService.card.expMonth" class="form-control" type="text"
            required maxlength="2" ng-keypress="addressesService.isNumeric($event)" ng-blur="checkDate($event)"></input>
            <span class="divisor">/</span>
            <input name="cardYear" ng-model="paymentService.card.expYear" class="form-control"
            type="text" required ng-keypress="addressesService.isNumeric($event)" maxlength="2" ng-blur="checkDate($event)">
            </input>
          </div>
          {#
          <p class="alert alert-danger" ng-show="paymentForm.cardYear.$error.outOfRange">
            Ano inválido
          </p>
          <p class="alert alert-danger" ng-show="paymentForm.cardMonth.$error.outOfRange">
            Mês inválido
          </p>
          #}
        </div>
      </div>
      <div ng-if="availableInstallments != null" id="available-installments" class="capitalize-no-bold font-small">
        <span>Em quantas parcelas deseja pagar?</span>
        <select required ng-model="paymentService.card.installments"
          ng-options="inst as (inst.quantity+'x'+(inst.installmentAmount|currency)+' = '+(inst.totalAmount|currency)) for inst in availableInstallments">
        </select>
      </div>
      <div class="payment-address-toggle-wrapper">
        <input id="payment-address-toggle" ng-model="paymentService.card.address.delivery_address" type="checkbox"></input>
        <label for="payment-address-toggle">usar o endereço de entrega para a cobrança?</label>
      </div>
    </div>
    <div id="payment-address" class="col-xs-12 col-md-6">
      <h3 class="uppercase"><b>Endereço de cobrança</b></h3>
      <hr>
      <div class="form-field">
        <p class="form-field-title">cep</p>
        <input name="zipCode"
        ng-required="!paymentService.card.address.delivery_address"
        ng-disabled="paymentService.card.address.delivery_address" ui-mask="99999-999"
        ng-model="paymentService.card.address.zip_code" class="form-control" type="text"></input>
        <button ng-disabled="paymentService.card.address.delivery_address" type="button" class="search-cep" ng-click="getAddressByCep();$event.preventDefault()"><i class="fa fa-angle-double-right"></i></button>
      </div>
      <div class="form-field">
        <p class="form-field-title">Endereço</p>
        <input name="streetAddress1"
        ng-required="!paymentService.card.address.delivery_address"
        ng-disabled="paymentService.card.address.delivery_address"
        ng-model="paymentService.card.address.street_address_1" class="form-control" type="text"></input>
      </div>
      <div class="form-field">
        <p class="form-field-title">Bairro</p>
        <input name="neighbourhood"
        ng-required="!paymentService.card.address.delivery_address"
        ng-disabled="paymentService.card.address.delivery_address"
        ng-model="paymentService.card.address.neighbourhood" class="form-control" type="text"></input>
      </div>
      <div class="form-field">
        <div class="form-field-group">
          <p class="form-field-title">Número</p>
          <input name="streetNumber"
          ng-required="!paymentService.card.address.delivery_address"
          ng-disabled="paymentService.card.address.delivery_address"
          ng-model="paymentService.card.address.street_number"
          class="form-control" type="text" maxlength="6"
          ng-keypress="addressesService.isNumeric($event)"></input>
        </div>
        <div class="form-field-group">
          <p class="form-field-title">Complemento</p>
          <input name="streetAddress2"
          ng-disabled="paymentService.card.address.delivery_address"
          ng-model="paymentService.card.address.street_address_2" class="form-control" type="text"></input>
        </div>
      </div>
      <div class="form-field">
        <div class="form-field-group">
          <p class="form-field-title">cidade</p>
          <input name="city"
          ng-required="!paymentService.card.address.delivery_address"
          ng-disabled="paymentService.card.address.delivery_address"
          ng-model="paymentService.card.address.city" class="form-control" type="text"></input>
        </div>
        <div class="form-field-group">
          <p class="form-field-title">estado</p>
          <input name="state"
          ng-required="!paymentService.card.address.delivery_address"
          ng-disabled="paymentService.card.address.delivery_address" maxlength="2"
          ng-model="paymentService.card.address.state" class="form-control" type="text"></input>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="duvet-btn-wrapper" ng-show="paymentForm.$invalid">
      <div class="disabled duvet-btn align-fix">preencha o formulário para continuar</div>
    </div>
    <div class="duvet-btn-wrapper" ng-show="paymentForm.$valid">
      <input type="submit" name="submit" value="confirmar dados do cartão" class="duvet-btn align-fix"></input>
    </div>
  </form>
</div>
