{% from "macros/formhelpers.html" import render_field %}
<div id="checkout-payment" class="col-md-12 hidden">
  <h3><b>PAGAMENTO</b></h3>
  <hr>
  <form name="paymentForm" ng-controller="PagSeguroController" ng-submit="confirmCard()">
    <span ng-show="paymentService.card.brandInfo.name">
      <img src="{a getImgSrc(paymentService.card.brandInfo.name) a}"></img>
    </span>
    <div class="card-field">
      <span>Número:</span>
      <input name="cardNumber" ng-model="paymentService.card.number" class="form-control" ng-change="checkNumber()"
      type="text" ng-required="true" name="cardNumber"
      ng-blur="checkNumberSize()"></input>
      <p class="alert alert-danger" ng-show="paymentForm.cardNumber.$error.size || paymentForm.cardNumber.$error.size">
        Número inválido. Por favor, confira se você digitou corretamente.
      </p>
    </div>
    <input name="holderName" ng-model="paymentService.card.holderName" class="form-control"
    type="text" placeholder="Nome do titular" required minlength="6"></input>
    <ul class="alert alert-danger" ng-show="paymentForm.holdercardInfo.error">
      <li ng-repeat="error in cardInfo.errors.holderName">{a error a}</li>
    </ul>
    <input name="cardCvv" ng-model="paymentService.card.cvv" class="form-control" ng-change="checkCvv()"
    placeholder="Código de segurança" type="text" required maxlength="4"></input>
    <p class="alert alert-danger" ng-show="paymentForm.cardCvv.$error.size">
      Número de segurança inválido
    </p>
    <input name="cardMonth" ng-model="paymentService.card.expMonth" class="form-control" type="text"
    placeholder="Mês" required maxlength="2" ng-keypress="isNumeric($event)"
    ng-blur="checkDate($event)"></input>
    <p class="alert alert-danger" ng-show="paymentForm.cardMonth.$error.outOfRange">
      Mês inválido
    </p>
    <input name="cardYear" ng-model="paymentService.card.expYear" class="form-control" placeholder="Ano"
    type="text" required ng-keypress="isNumeric($event)" maxlength="2"
    ng-blur="checkDate($event)"></input>
    <p class="alert alert-danger" ng-show="paymentForm.cardYear.$error.outOfRange">
      Ano inválido
    </p>
    <div class="duvet-btn-wrapper" ng-show="paymentForm.$invalid">
      <div class="disabled duvet-btn align-fix">preencha o formulário para continuar</div>
    </div>
    <div class="duvet-btn-wrapper" ng-show="paymentForm.$valid">
      <input type="submit" name="submit" value="Confirmar dados do cartão" class="duvet-btn align-fix"></input>
    </div>
  </form>
</div>
