{% extends 'singlecontent.html' %}

{% block title %}
  {{ super() }}
  Sobre
{% endblock %}

{% block single_content %}
  <div id='about'>
    <h3 class="uppercase">Quem Somos ›</h3>
    <hr>
    <p>
      O Studio Duvet surgiu da dificuldade da arquiteta e designer Cláudia Barreto em encontrar no mercado peças da rouparia de cama e mesa que fossem práticas e com um design diferenciado.
    </p>
    <p>
      Inicialmente foi pensado só nos duvets(capas de edredom), pela praticidade e conforto, mas as toalhas de mesa, lençóis, capas de travesseiro e almofadas carregam o mesmo bom gosto em suas cores
    </p>
    <p>
      O Studio Duvet pensa no seu bem estar antes de tudo, um design divertido e colorido é o que fazemos por aqui e entra com um conceito novo de roupas para sua casa. Muitas cores e estampas divertidas para deixar sua casa mais charmosa, aconchegante e com muito estilo. 
    </p>
  </div>
{% endblock %}
