<!DOCTYPE html>
<html lang="en" ng-app="angularApp">
  <head>
    <!-- Page title -->
    <title>Studio Duvet - {% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    {% assets "css_all" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% block styles %}{% endblock %}
    <!-- /CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="csrf-token" content="{{ csrf_token() }}">
  </head>
  <body ng-controller="CartController">
    {% include 'partials/sidebarmenu.html' %}
    {% include 'partials/nav.html' %}
    <!-- Page content -->
    {% block page_content %} {% endblock %}
    <!-- Institucional -->
    <hr>
    <ul id="info" class="list-inline">
      <li><a href="{{ url_for('about') }}">Quem somos</a></li>
      <li><a href="{{ url_for('returns') }}">Trocas e devoluções</a></li>
      <li><a href="{{ url_for('custom_made') }}">Sob medida</a></li>
      <li><a href="{{ url_for('wash') }}">Lavanderia</a></li>
      <li><a href="{{ url_for('contact') }}">Contato</a></li>
    </ul>
    <hr>
    <div id="connect">
      <span id="newsletter">
        <p>Receba nossa newsletter!</p>
        <div>
          <input type="email" placeholder="E-MAIL"></input><button>&rarr;</button>
        </div>
      </span>
      <span id="social">
        <p>Get connected</p>
        <a href="#">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="#">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </span>
    </div>
    <!-- Footer -->
    <div id="footer-wrapper">
      <footer class="container-fluid">
        <div class="navbar-brand logo text-center full-width">
          Studio Duvet
        </div>
        <div class="engine text-right full-width">
          <p>powered by nscmr&reg</p>
        </div>
      </footer>
    </div>
    <!-- /.container -->
    <!-- JS Files -->
    {% assets "js_base" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    {# Jinja block for adding any other scripts needed by any page
    individually (such as OAuth scripts) #}
    <script>
      var csrfToken = $('meta[name=csrf-token]').attr('content');
    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
