<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Page title -->
    <title>Studio Duvet - {% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    {% assets "css_all" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% block styles %}{% endblock %}

    <!-- /CSS -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="csrf-token" content="{{ csrf_token() }}">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top" id="navbar-wrapper" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#catalog-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index')}}">Studio Duvet</a>
        </div>
        <!-- /.navbar-header -->
        <div class="navbar-collapse collapse" id="catalog-nav" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav navbar-right">
            {% if not current_user.is_authenticated %}
              {% include 'partials/loginform.html' %}
            {% else %}
              {% if 'admin' in current_user.roles %}
                <li>
                  <a href="{{ url_for('admin.index') }}">Painel do administrador</a>
                </li>
              {% endif %}
              <li>
                <a href="{{ url_for('user') }}">Perfil</a>
              </li>
              <li>
                <a href="{{ url_for('logout') }}">Sair</a>
              </li>
            {% endif %}
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    <!-- Page content -->
    {% block page_content %} {% endblock %}
    <!-- Footer -->
    <div id="footer-wrapper">
      <footer class="container">
        <div class="row">
          <div class="col-md-12 text-right" id="brand">
              <p>powered by nscmr&reg</p>
          </div>
        </div>
      </footer>
    </div>
    <!-- /.container -->

    <!-- JS Files -->
    {% assets "js_base" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>

    <!-- Jinja block for adding any other scripts needed by any page
        individually (such as OAuth scripts) -->
    {% block scripts %}{% endblock %}
  </body>
</html>
