{% extends "sidebar.html" %}
{% from "macros/producthelpers.html" import product_panel with context %}

{% block title %}
  {{ super() }}
  {{ category.name }}
{% endblock %}

{% block description %}
  {{ category.meta_description }}
{% endblock %}

{% block sidebar_content %}
  <h4>{{ category.name }} ›</h4>
  <ul>
    {% for c in categories %}
      <li><a href="{{ url_for('category', permalink=c.permalink) }}">{{ c.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}

{% block main_content %}
  <div class="row">
    {% if products.count() == 0 %}
      <div class="col-xs-12">
        <p>Não há nenhum produto cadastrado para essa categoria.</p>
      </div>
    {% else %}
      {% for product in products %}
        {% for variant in product['variants'] %}
          {{ product_panel(variant, product) }}
        {% endfor %}
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}

{% block scripts %}
  <script>
    var addToCartUri = "{{ url_for('add_to_cart') }}";
  </script>
  {% assets "angular" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script src="{{ url_for('static', filename='js/category.js') }}"></script>
{% endblock %}
