{% extends "sidebar.html" %}
{% from "macros/producthelpers.html" import product_panel with context %}

{% block title %}
  {{ super() }}
  {% if category is none %}
    Catálogo
  {% else %}
    {{ category.name }} ›
  {% endif %}
{% endblock %}

{% block description %}
  {{ category.meta_description }}
{% endblock %}

{% block sidebar_content %}
  {% if category is none %}
    <h4>Catálogo</h4>
  {% else %}
    <h4>{{ category.name }} ›</h4>
  {% endif %}
  <ul>
    {% for c in categories %}
      <li><a href="{{ url_for('category', permalink=c.permalink) }}">{{ c.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}

{% block main_content %}
  <div class="row">
    {% if products.count() == 0 %}
      <div class="col-xs-12">
        <p>Não há nenhum produto cadastrado para essa categoria.</p>
      </div>
    {% else %}
      {% for product in products %}
        {% for variant in product['variants'] %}
          {{ product_panel(variant, product) }}
        {% endfor %}
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}

{% block scripts %}
  {# added to base
  {% assets "angular" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
  #}
{% endblock %}
