{% extends "sidebar.html" %}
{% from "macros/producthelpers.html" import product_panel with context %}

{% block title %}
  {{ super() }}
  Home
{% endblock %}

{% block sidebar_content %}
  <ul>
    <li>{{ category.name }}</li>
    {% for c in categories %}
      <li><a href="{{ url_for('category', permalink=c.permalink) }}">{{ c.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}

{% block main_content %}
  <div class="row">
    {% for product in products %}
      {{ product_panel(product) }}
    {% endfor %}
  </div>
{% endblock %}

