{% extends 'fullsinglecontent.html' %}

{% block title %}
  {{ super() }}
  Checkout
{% endblock %}

{% block single_content %}
  <div id='checkout' ng-controller="CheckoutController">
    {#
    <hr>
    <div id="checkout-options">
      <a href='#' id='cart-btn' data-target='checkout-cart' class='selected' ng-click="toggleCheckoutOption($event)">Compras</a>
      <a href='#' id='addr-btn' data-target='checkout-addresses' ng-click="toggleCheckoutOption($event);">Endereço</a>
      <a href='#' id='pay-btn' data-target='checkout-payment' ng-click="toggleCheckoutOption($event);">Pagamento</a>
      <a href='#' id='confirm-btn' data-target='checkout-confirm' ng-click="toggleCheckoutOption($event);">Concluir</a>
    </div>
    <hr>
    #}
    {% include 'partials/checkout/cart.html' %}
    {% include 'partials/checkout/address.html' %}
    {% include 'partials/checkout/payment.html' %}
    {% include 'partials/checkout/confirm.html' %}
  </div>
  <div id="checkout-conclusion" class="hidden">
    <div id="checkout-spinner">
      <i class="fa fa-cog fa-spin fa-5x fa-fw"></i>
      Por favor aguarde enquanto a transação é realizada..
    </div>
    <div id="checkout-result"></div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    var getAddressesUri = "{{ url_for('get_addresses') }}";
    var removeAddressUri = "{{ url_for('delete_address') }}";
    var addAddressUri = "{{ url_for('add_address') }}";
    var confirmUri = "{{ url_for('confirm') }}";
    var shippingUri = "{{ url_for('shipping') }}";
    var pagseguroSessionId = "{{ session_id }}";
  </script>
  <script src="{{ url_for('static', filename='js/addressesService.js') }}"></script>
  <script src="{{ url_for('static', filename='js/cartservice.js') }}"></script>
  <script src="{{ url_for('static', filename='js/address.js') }}"></script>
  <script src="{{ url_for('static', filename='js/checkout.js') }}"></script>
  <script src="{{ url_for('static', filename='js/payment.js') }}"></script>
  <script src="{{ url_for('static', filename='js/paymentservice.js') }}"></script>
  <script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>
  <script>
    PagSeguroDirectPayment.setSessionId("{{ session_id }}");
    //var buyerId = PagSeguroDirectPayment.getSenderHash();
  </script>
{% endblock %}
