{% extends 'singlecontent.html' %}
{% from "macros/formhelpers.html" import render_field %}

{% block title %}
  {{ super() }}
  Checkout
{% endblock %}

{% block single_content %}
  <div id='checkout' ng-controller="CheckoutController">
    <h3>Finalizar compra ›</h3>
    <hr>
    <div id="checkout-options">
      <a href='#' id='cart-btn' data-target='checkout-cart' class='selected' ng-click="toggleCheckoutOption($event)">Compras</a>
      <a href='#' id='addr-btn' data-target='checkout-addresses' ng-click="toggleCheckoutOption($event);">Endereço</a>
      <a href='#' id='pay-btn' data-target='checkout-payment' ng-click="toggleCheckoutOption($event);">Pagamento</a>
      <a href='#' id='confirm-btn' data-target='checkout-confirm' ng-click="toggleCheckoutOption($event);">Concluir</a>
    </div>
    <hr>
    <div id="checkout-cart" class="col-md-12">
      <h4>Suas compras</h4>
      <p ng-if="cartService.cart.length == 0">Você não possui nenhum item no seu carrinho</p>
      <div class="panel cart-line-panel" ng-repeat="item in cartService.cart">
        <div class="panel-header">
          <div class="field-title inline">
              <a href="#">
                {a item['name'] a}
              </a>
          </div>
          <div class='inline float-right'>
            <a ng-click="cartService.removeItem(item['_id']); $event.preventDefault();" href="#"><i class="fa fa-close"></i> Remover</a>
          </div>
          <span class="item-price">{a item['price'] | currency a}</span>
        </div>
        <div class="panel-body">
          <span class="item-id hidden">{a item['_id'] a}</span>
          <div class="field-row">
            <div class="field">
              <p class="field-title">Categoria</p>
              <p class="field-value">
                <a href="#">
                  {a item['category']['name'] a}
                </a>
              <p>
            </div>
            <div class="field">
              <p class="field-title">Quantidade</p>
              <p class="field-value">
                {a item['quantity'] a}
                <a title="Editar" class="item-qty" href="#">
                  <i ng-click="toggleEdit($event); $event.preventDefault();" class="fa fa-edit"></i>
                </a>
              </p>
              <div class='field-input hidden'>
                <input name="quantity" min="0" type="number" step="1" class="form-control" ng-model="item['quantity']"}>
                <a title="Confirmar" href="#">
                  <i class="fa fa-check" ng-click="cartService.confirmEdit(item); $event.preventDefault();" aria-hidden="true"></i>
                </a>
                <a title="Cancelar" href="#">
                  <i ng-click="toggleEdit($event); $event.preventDefault();" class="cancel-cart fa fa-close" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
            <div class="field" ng-if="item.hasOwnProperty('attributes')">
              <p class="field-title">Detalhes</p>
              <p class="field-value" ng-repeat="(attr,value) in item['attributes']">
                {a attr a}: {a value a}
              </p>
            </div>
        </div>
      </div>
    </div>
    <div id="checkout-addresses" class="col-md-12 hidden">
      <div class="col-md-6">
        <h4>Escolher endereço</h4>
        <p ng-if="addressesService.addresses.length == 0">Você não possui nenhum endereço cadastrado</p>
        <div ng-click="selectAddress($event, address); $event.preventDefault();" class="panel panel-default address-panel" ng-repeat="address in addressesService.addresses">
          <div class="panel-body">
            <a href="#">
              <div class='field'>
                <div class="field-title">Endereço</div>
                <div class='field-value'>{a address['street_address_1'] a}</div>
              </div>
              <div class='field' ng-show="address['street_address_2']">
                <div class="field-title">Complemento</div>
                <div class="field-value">{a address['street_address_2'] a}</div>
              </div>
              <div class='field' ng-show="address['neighbourhood']">
                <div class="field-title">Bairro</div>
                <div class="field-value">{a address['neighbourhood'] a}</div>
              </div>
              <div class='field'>
                <div class="field-title">Cidade</div>
                <div class="field-value">{a address['city'] a}</div>
              </div>
              <div class='field'>
                <div class="field-title">Estado</div>
                <div class="field-value">{a address['state'] a}</div>
              </div>
              <div class='field'>
                <div class="field-title">Cep</div>
                <div class="field-value">{a address['zip_code'] a}</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6" ng-controller="AddressController">
        <h4>Adicionar endereço</h4>
        <form id="create-address-form" ng-submit="addAddress()" method="post">
          <ul class="alert alert-success" ng-show="form_success">
            <li>{a form_success a}</li>
          </ul>
          {{ form.hidden_tag() }}
          <p>Para pesquisar seu endereço pelo cep, preencha-o abaixo e clique em 'Buscar'</p>
          <dt>{{ form.zip_code.label }}
          <dd>{{ form.zip_code(**{'ng-model':'form.zip_code', 'ui-mask':'99999-999', 'model-view-value': 'true'})|safe }}
          <a href="#" class="btn btn-default btn-success" ng-click="getAddressByCep(); $event.preventDefault();">
            Buscar
          </a>
          <ul class="alert alert-danger" ng-show="form_errors.zip_code">
            <li ng-repeat="error in form_errors.zip_code">{a error a}</li>
          </ul>
          <dt>{{ form.street_address_1.label }}
          <dd>{{ form.street_address_1(**{'ng-model':'form.street_address_1'})|safe }}
          <ul class="alert alert-danger" ng-show="form_errors.street_address_1">
            <li ng-repeat="error in form_errors.street_address_1">{a error a}</li>
          </ul>
          <dt>{{ form.street_address_2.label }}
          <dd>{{ form.street_address_2(**{'ng-model':'form.street_address_2'})|safe }}
          <ul class="alert alert-danger" ng-show="form_errors.street_address_2">
            <li ng-repeat="error in form_errors.street_address_2">{a error a}</li>
          </ul>
          <dt>{{ form.neighbourhood.label }}
          <dd>{{ form.neighbourhood(**{'ng-model':'form.neighbourhood'})|safe }}
          <ul class="alert alert-danger" ng-show="form_errors.neighbourhood">
            <li ng-repeat="error in form_errors.neighbourhood">{a error a}</li>
          </ul>
          <dt>{{ form.city.label }}
          <dd>{{ form.city(**{'ng-model':'form.city'})|safe }}
          <ul class="alert alert-danger" ng-show="form_errors.city">
            <li ng-repeat="error in form_errors.city">{a error a}</li>
          </ul>
          <dt>{{ form.state.label }}
          <dd>{{ form.state(**{'ng-model':'form.state'})|safe }}
          <ul class="alert alert-danger" ng-show="form_errors.state">
            <li ng-repeat="error in form_errors.state">{a error a}</li>
          </ul>
          <p><input class="btn btn-default btn-ns" id="add-address-btn" type="submit" value="Enviar"></input></p>
        </form>
      </div>
    </div>
    <!-- /#checkout-addresses -->
    <div id="checkout-payment" class="col-md-12 hidden">
      <div id="brand-selectors">
        <p>Selecione a bandeira do seu cartão</p>
        <a id='mastercard-selector' ng-click="toggleCardBrand($event);" href="#" class="card-brand">
          <i class='fa fa-cc-mastercard'></i> MasterCard
        </a>
        <a id='visa-selector' ng-click="toggleCardBrand($event);" href="#" class="card-brand">
          <i class='fa fa-cc-visa'></i> Visa
        </a>
      </div>
      <form action="#" method="post">
        {{ card_form.hidden_tag() }}
        {% if card_form.csrf_token.errors %}
          <ul class="alert alert-danger alert-login">
            {% for error in card_form.csrf_token.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {{ render_field(card_form.holder_name, **{'ng-model':'card.holderName'}) }}
        {{ render_field(card_form.number, **{'ng-model':'card.number'}) }}
        {{ render_field(card_form.security_code, **{'ng-model':'card.securityCode'}) }}
        {{ render_field(card_form.exp_month, **{'ng-model':'card.expMonth'}) }}
        {{ render_field(card_form.exp_year, **{'ng-model':'card.expYear'}) }}
      </form>
    </div>
    <div id="checkout-confirm" class="col-md-12 hidden">
      <h4>Confirme as informações da sua compra antes de confirmar o pagamento</h4>
      <div id="cart-summary" class="buy-info">
        <p>Suas compras</p>
        <div ng-repeat="item in cartService.cart">
          <table width="100%">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Preço unitário</th>
                <th>Quantidade</th>
                <th>Total do produto</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{a item.name a}</td>
                <td>{a item.price | currency a}</td>
                <td>{a item.quantity a}</td>
                <td>{a item.quantity*item.price | currency a}</td>
              </tr>
              <tr ng-if="$index == (cartService.cart.length - 1)">
              </tr>
              <tr ng-if="$index == (cartService.cart.length - 1)">
                <td>Total das compras</td>
                <td>{a cartService.cart | totalPrice | currency a}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="address-summary" class="buy-info">
        <p>Seu endereço</p>
        <p ng-if="selectedAddress == null">Você não selecionou nenhum endereço</p>
        <div class="panel" ng-if="selectedAddress != null">
          <div class="panel-body">
            <div class='field'>
              <div class="field-title">Endereço</div>
              <div class='field-value'>{a selectedAddress['street_address_1'] a}</div>
            </div>
            <div class='field' ng-show="selectedAddress['street_address_2']">
              <div class="field-title">Complemento</div>
              <div class="field-value">{a selectedAddress['street_address_2'] a}</div>
            </div>
            <div class='field' ng-show="address['neighbourhood']">
              <div class="field-title">Bairro</div>
              <div class="field-value">{a selectedAddress['neighbourhood'] a}</div>
            </div>
            <div class='field'>
              <div class="field-title">Cidade</div>
              <div class="field-value">{a selectedAddress['city'] a}</div>
            </div>
            <div class='field'>
              <div class="field-title">Estado</div>
              <div class="field-value">{a selectedAddress['state'] a}</div>
            </div>
            <div class='field'>
              <div class="field-title">Cep</div>
              <div class="field-value">{a selectedAddress['zip_code'] a}</div>
            </div>
          </div>

        </div>
      </div>
      <div id="payment-summary" class="buy-info">
        <p>Seu método de pagamento</p>
      </div>
      <p ng-hide="card.brand">Você não selecionou a bandeira do seu cartão</p>
      <p ng-show="card.brand">Bandeira: {a card.brand a}</p>
      <p ng-hide="card.holderName">Nome do titular do cartão não foi preenchido</p>
      <p ng-show="card.holderName">Titular: {a card.holderName a}</p>
      <p ng-hide="card.number">O número do seu cartão não foi preenchido</p>
      <p ng-show="card.number">Número: {a card.number a}</p>
      <p ng-hide="card.securityCode">O código de segurança do seu cartão não foi preenchido</p>
      <p ng-show="card.securityCode">Código de segurança: {a card.securityCode a}</p>
      <p ng-hide="card.expMonth">O mês do seu cartão não foi preenchido</p>
      <p ng-show="card.expMonth">Mês: {a card.expMonth a}</p>
      <p ng-hide="card.expYear">O ano do seu cartão não foi preenchido</p>
      <p ng-show="card.expYear">Ano: {a card.expYear a}</p>
      <a ng-click="confirmBuy(); $event.preventDefault();"
        ng-if="selectedAddress != null && (card.brand != '' && card.holderName
        != '' && card.number != '' && card.securitycode != '' && card.expMonth
        != '' && card.expYear != '')" href="#" class="product-btn full-width" style="width:100%;">
        Confirmar compra
      </a>
    </div>
    <hr>
    <div class="col-md-12">
      <a ng-click="moveOptions('prev'); $event.preventDefault();" href="#" class="product-btn">Voltar</a>
      <a ng-click="moveOptions('next'); $event.preventDefault();" href="#" class="product-btn">Próximo</a>
    </div>
  </div>
  <div id="checkout-conclusion" class="hidden">
    <div id="checkout-spinner">
      <i class="fa fa-cog fa-spin fa-5x fa-fw"></i>
      Por favor aguarde enquanto a transação é realizada..
    </div>
    <div id="checkout-result"></div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    var getAddressesUri = "{{ url_for('get_addresses') }}";
    var addAddressUri = "{{ url_for('add_address') }}";
    var editCartUri = "{{ url_for('edit_cart') }}";
    var confirmUri = "{{ url_for('confirm') }}";
  </script>
  <script src="{{ url_for('static', filename='js/addressesService.js') }}"></script>
  <script src="{{ url_for('static', filename='js/cartservice.js') }}"></script>
  <script src="{{ url_for('static', filename='js/address.js') }}"></script>
  <script src="{{ url_for('static', filename='js/checkout.js') }}"></script>
{% endblock %}
