{% extends 'singlecontent.html' %}
{% from "macros/formhelpers.html" import render_field %}

{% block title %}
  {{ super() }}
  Contato
{% endblock %}

{% block single_content %}
  <div id='contact'>
    <h3 class="uppercase">Contato ›</h3>
    <hr>
    <form action="{{ url_for('contact') }}" method="post">
      {{ form.hidden_tag() }}
      {% if form.csrf_token.errors %}
        <ul class="alert alert-danger alert-login">
          {% for error in form.csrf_token.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <div class="form-field">
        <div class="form-field-group">
          <p class="form-field-title">Nome</p>
          {{ form.name()|safe }}
        </div>
        <div class="form-field-group">
          <p class="form-field-title">Email</p>
          {{ form.email()|safe }}
        </div>
      </div>
      <div class="form-field">
        <p class="form-field-title">Assunto</p>
        {{ form.subject()|safe }}
      </div>
      <div class="form-field msg-field">
        <p class="form-field-title">Mensagem</p>
        {{ form.message()|safe }}
      </div>
      <div class="duvet-btn-wrapper">
        <input class="duvet-btn align-fix no-margin" id="contact-btn" type="submit" value="Enviar"></input>
      </div>
    </form>
  </div>
{% endblock %}
