{% extends "fullwidthheader.html" %}

{% block title %}
  {{ super() }}
  Home
{% endblock %}

{% block header %}
  {% include 'partials/carousel.html' %}
{% endblock %}

{% block main_content %}
  <div class="col-lg-12">
    <div id="front-page-text-container"><span id="front-page-text"><b>Entregas para todo o Brasil parcelado em até 3x.</b></span></div>
  </div>
  {% for category in categories %}
    <div class="col-xs-12 col-sm-6 col-md-4 category-panel" id="category-panel-{{loop.index}}">
      <a href="{{ url_for('category', permalink=category['permalink']) }}">
        <h4 class="category-name">{{ category.name }}</h4>
        <div class="img-holder">
          <img class="img img-responsive" src="{{ category.thumbnail }}" alt="Foto de {{ category.name }}">
        </div>
      </a>
    </div>
  {% endfor %}
{% endblock %}

