{% extends "fullwidthheader.html" %}

{% block title %}
  {{ super() }}
  Home
{% endblock %}

{% block header %}
  <div id="carousel-wrapper">
    {% include 'partials/carousel.html' %}
    <div id="carousel-box">
        <p>
          Casa feliz, vida feliz!
          Decore sem regras e com muito estilo.
        </p>
        <span><a href="#">Comece já ›</a></span>
    </div>
  </div>
{% endblock %}

{% block main_content %}
  {% for category in categories %}
    <div class="col-xs-12 col-sm-6 col-md-4">
      <a href="{{ url_for('category', permalink=category.permalink) }}">
        <div class="category-panel" id="category-panel-{{loop.index}}" style="background-image:url({{category.base_img}})">
          <span class="name-box">{{ category.name }} ›</span>
        </div>
      </a>
    </div>
  {% endfor %}
{% endblock %}

