{% extends 'singlecontent.html' %}
{% from "macros/formhelpers.html" import render_field %}

{% block title %}
  {{ super() }}
  Login
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/style.css')}}" >
{% endblock %}

{% block single_content %}
  <div class="table-container">
    <h3>Entre na sua conta!</h3>
    <hr>
    <div class="table">
      <div class="col-xs-12 col-sm-6 table-cell">
        <form action="{{ url_for('login') }}" method="post">
          {{ login_form.hidden_tag() }}
          {% if login_form.csrf_token.errors %}
            <ul class="alert alert-danger alert-login">
              {% for error in login_form.csrf_token.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {# flash should only be used in registration in case of
          unexpected exceptions. Any field validation issue should be
          passed to field.errors and the macro will render it
          correctly #}
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class="alert alert-danger alert-login">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          <dl>
            {{ render_field(login_form.email) }}
            {{ render_field(login_form.password) }}
          </dl>
          <p><input class="btn btn-default btn-ns" id="register-btn" type="submit" value="Entrar"></input></p>
        </form>
      </div>
      <div class="col-xs-12 col-sm-6 table-cell">
        <div id="new-user">
          <p>Novo no nosso site?</p>
          <a href="{{ url_for('registration') }}" class="product-btn">Continuar por aqui</a>
        </div>
      </div>
      <hr>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/registration.js') }}"></script>
{% endblock %}
