{% extends 'singlecontent.html' %}
{% from "macros/formhelpers.html" import render_field %}

{% block title %}
  {{ super() }}
  Login
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/style.css')}}" >
{% endblock %}

{% block single_content %}
  {#
  <div id="fb-welcome" class="hidden">
  </div>
  #}
  <div id="login">
    <div class="col-sm-12 col-md-6">
      <h3><b>Entre na sua conta!</b></h3>
      <hr>
      <form action="{{ url_for('login') }}" method="post">
        {{ login_form.hidden_tag() }}
        {% if login_form.csrf_token.errors %}
          <ul class="alert alert-danger alert-login">
            {% for error in login_form.csrf_token.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {# flash should only be used in registration in case of
        unexpected exceptions. Any field validation issue should be
        passed to field.errors and the macro will render it
        correctly #}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="alert alert-danger alert-login">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <dl>
          {{ render_field(login_form.email) }}
          {{ render_field(login_form.password) }}
        </dl>
        <div class="duvet-btn-wrapper text-right">
          <input class="duvet-btn align-fix" type="submit" value="Entrar">&nbsp;</input>
        </div>
      </form>
      <fb:login-button data-size="large" scope="public_profile,email" onlogin="checkLoginState();">
      </fb:login-button>
      <div class="g-signin2" data-onsuccess="gSignIn" data-theme="dark"></div>
    </div>
    <div class="col-sm-12 col-md-6">
      <h3><b>Novo no nosso site?</b></h3>
      <hr>
      <div class="duvet-btn-wrapper text-center">
        <a href="{{ url_for('registration') }}" class="duvet-btn">Continuar por aqui</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <!-- Google login functions -->
  <script>
    function gSignIn(user) {
      var profile = user.getBasicProfile();
      console.log("ID: " + profile.getId()); // Don't send this directly to your server!
      console.log('Full Name: ' + profile.getName());
      console.log('Given Name: ' + profile.getGivenName());
      console.log('Family Name: ' + profile.getFamilyName());
      console.log("Image URL: " + profile.getImageUrl());
      console.log("Email: " + profile.getEmail());

      // The ID token you need to pass to your backend:
      var id_token = user.getAuthResponse().id_token;
      console.log("ID Token: " + id_token);
      user = {
        name: profile.getName(),
        email: profile.getEmail(),
        oauth: {
          userToken: user.getAuthResponse().id_token,
          provider: 'google',
        }
      };
      console.log(user);
      logOAuthUser(user);
    };
  </script>
  <!-- Facebook login functions -->
  <script>
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });

    function statusChangeCallback(response) {
      console.log('fb statusChangeCallback');
      if (response.status === 'connected') {
        console.log("Logged in to fb and authorized");
        fbLogin();
      } else if (response.status === 'not_authorized') {
        console.log("Logged in to fb but not authorized");
      } else {
        console.log("Not logged in to fb");
      }
    };

    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    };

    function fbLogin() {
      FB.api('/me', {fields:['name','email','picture']},function(response) {
        /*
        var welcomeEl = document.getElementById('fb-welcome');
        var loginEl = document.getElementById('login');
        var welcome = "<img src='" + response['picture'] + "'/>" +
          "<h5>Bem vindo, " + response['name'] + "!</h5>";
        welcomeEl.innerHtml = welcome;
        loginEl.classList.add('hidden');
        welcomeEl.classList.remove('hidden');
        */
        user = {
          name: response['name'],
          email: response['email'],
          oauth: {
            userToken: FB.getAuthResponse()['accessToken'],
            provider: 'fb',
          }
        };
        console.log(user);
        logOAuthUser(user);
      });
    };

    function logOAuthUser(user) {
      $.ajax({
        type: "POST",
        url: "{{ url_for('login') }}",
        data: JSON.stringify(user, null, '\t'),
        headers: {
          "Content-Type": 'application/json;charset=UTF-8',
          "X-CSRFToken": csrfToken
        },
        success: function(data) {
          console.log(data);
          window.location.href = data['redirect'];
        },
        error: function(data) {
          console.log(data);
          //FB.logout();
        },
      });
    }
  </script>
{% endblock %}

