{% extends 'singlecontent.html' %}
{% from "macros/formhelpers.html" import render_field %}

{% block title %}
  {{ super() }}
  Login
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/style.css')}}"/>
{% endblock %}

{% block single_content %}
  <div id="login">
    <div class="col-sm-12 col-md-6">
      <h3><b>Entre na sua conta!</b></h3>
      <hr>
      <form id="login-form" action="{{ url_for('login') }}" method="post">
        {{ login_form.hidden_tag() }}
        {% if login_form.csrf_token.errors %}
          <ul class="alert alert-danger alert-login">
            {% for error in login_form.csrf_token.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {# flash should only be used in registration in case of
        unexpected exceptions. Any field validation issue should be
        passed to field.errors and the macro will render it
        correctly #}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="alert alert-danger alert-login">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {{ render_field(login_form.email) }}
        {{ render_field(login_form.password) }}
        <div id="login-btn" class="duvet-btn-wrapper text-right">
          <input class="duvet-btn align-fix" type="submit" value="Entrar">&nbsp;</input>
        </div>
      </form>
      <div id="oauth-btns-wrapper">
        <a href="#" id="fb">
          <img src="{{ url_for('static', filename='imgs/fb.png') }}">
        </a>
        <a href="#" id="google">
          <img src="{{ url_for('static', filename='imgs/google.png') }}">
        </a>
        {#
        <div class="oauth-btn">
          <div class="g-signin2" data-onsuccess="gSignIn" data-theme="dark"></div>
        </div>
        #}
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <h3><b>Novo no nosso site?</b></h3>
      <hr>
      <div class="duvet-btn-wrapper text-center">
        <a href="{{ url_for('registration') }}" class="duvet-btn no-margin">Continuar por aqui</a>
      </div>
    </div>
  </div>
{% endblock %}

