{% macro build_product_list(products) %}
  {% for product in products %}
    {{ product_panel(product.category, product) }}
  {% endfor %}
{% endmacro %}

{% macro product_panel(category, product) %}
  <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-6 col-md-4">
    <a href="{{ url_for('product', category_id = category.id_, product_id = product.id_, category_slug = category.slug, product_slug = product.slug) }}">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="product-name">{{ product.name }}</h4>
        </div>
        <div class="panel-body">
          <div class="img-holder">
            <img class="img img-responsive" src="{{ product.thumbnail }}" alt="Foto de {{ product.name }}"></img>
          </div>
        </div>
      </div>
    </a>
  </div>
{% endmacro %}
