{% extends 'base.html' %}

{% block title %}
  {{ super() }}
  {{ product['name'] }}
{% endblock %}

{% block description %}
  {{ product['meta_description'] }}
{% endblock %}

{% block page_content %}
  <div class="container" id="product-page">
    <div class="row" id="product-content">
      <div class="col-xs-12 col-md-7" id="product-images-pane">
        {% include 'partials/productimagescarousel.html' %}
      </div>
      <div class="col-xs-12 col-md-5" id="product-info-pane">
        <div class="row">
          <div class="col-md-12">
            <p class="text-right" id="product-nav">
              <span>
                <a href="{{ url_for('index') }}">home</a> ›
                <a href="{{ url_for('category', permalink = category['permalink'] ) }}">{{ category['name'] }}</a>
                › {{ product['name'] }}
              </span>
            </p>
            <p>{{ product['name'] }}</p>
            <p>{{ product['price'] }}</p>
            <hr>
          </div>
          <div class="col-md-12">
            <p>Descrição</p>
            <p>{{ product['description'] }}</p>
            <p>Tamanho</p>
            <p>{{ product['size'] }}</p>
            <hr>
          </div>
          <div class="col-md-12">
            <span class="btn btn-default btn-lg">Wishlist</span>
            <span class="btn btn-default btn-lg">Adicionar ao carrinho</span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

