{% extends 'base.html' %}

{% block title %}
  {{ super() }}
  {{ product['name'] }}
{% endblock %}

{% block description %}
  {{ product['meta_description'] }}
{% endblock %}

{% block page_content %}
  <div class="container" id="product-page">
    <div class="row" id="product-content">
      <div class="col-xs-12 col-md-7" id="product-images-pane">
        {% include 'partials/productimagescarousel.html' %}
      </div>
      <div class="col-xs-12 col-md-5" id="product-info-pane">
        <div class="row">
          <div class="col-md-12">
            <p class="text-right" id="product-nav">
              <span class="breadcrumbs">
                <a href="{{ url_for('index') }}">Home</a> ›
                <a href="{{ url_for('category', permalink = product.category['permalink'] ) }}">{{ product.category['name'] }}</a>
                › {{ product['name'] }}
              </span>
            </p>
            <h4 class="product-name">{{ product['name'] }}</h4>
            <h3 class="capitalize-no-bold font-medium">R$ {{ '{:.2f}'.format(variant.price)|replace('.',',') }}</h3>
            <hr>
          </div>
          <div class="col-md-12">
            <p><span class="capitalize-light">Detalhes</span></br>
            <span class="justify font-small">{{ product.description|safe }}</span>
            </p>
            {% if product.attributes is not none %}
              {% for attr in product.attributes.keys() %}
                <p><b>{{attr.capitalize()}}: </b>
                <select id="select-attr-{{loop.index0}}">
                  {% for opt in product.attributes[attr] %}
                    {% set attr_list = opt.split('_') %}
                    <option value="{{attr_list[0]}}">{{ attr_list[1].capitalize() }}</option>
                  {% endfor %}
                </select>
                </p>
              {% endfor %}
            {% endif %}
            <hr>
          </div>
          <div class="col-md-12">
            <div class="variant-btns text-left">
              <a class="like-btn"
                ng-click="addToWishlist('{{ variant['_id']|string }}'); $event.preventDefault();" href="#">
                <i class="fa fa-heart-o"></i>
              </a>
            </div>
            <div class="duvet-btn-wrapper">
            <a href="#" ng-click="cartService.addToCart('{{ variant.id|string
              }}'); $event.preventDefault();" class="duvet-btn">
              <i class="fa fa-shopping-bag"></i> Adicionar ao carrinho
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/product.js') }}"></script>
{% endblock %}
