{% extends 'singlecontent.html' %}
{% from "macros/formhelpers.html" import render_field %}

{% block title %}
  {{ super() }}
  Registro
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/style.css')}}" >
{% endblock %}

{% block single_content %}
  <div class="table-container">
    <h3>Registre-se no nosso site!</h3>
    <hr>
    <form action="{{ url_for('registration') }}" method="post">
      <div class="table">
        <div class="col-xs-12 col-sm-6 table-cell">
          {{ registration_form.hidden_tag() }}
          {% if registration_form.csrf_token.errors %}
            <ul class="alert alert-danger alert-login">
              {% for error in registration_form.csrf_token.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {# flash should only be used in registration in case of
          unexpected exceptions. Any field validation issue should be
          passed to field.errors and the macro will render it
          correctly #}
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class="alert alert-danger alert-login">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          <dl>
            {{ render_field(registration_form.name) }}
            {{ render_field(registration_form.email) }}
            {{ render_field(registration_form.dob) }}
            {{ render_field(registration_form.password) }}
            {{ render_field(registration_form.confirm) }}
          </dl>
          {{ registration_form.has_address(**{'data-toggle':'#input-address'})|safe }}
          {{ registration_form.has_address.label }}
        </div>
        <div class="col-xs-12 col-sm-6 table-cell">
          <div id="input-address">
            {{ render_field(registration_form.address.street_address_1) }}
            {{ render_field(registration_form.address.street_address_2) }}
            {{ render_field(registration_form.address.city) }}
            {{ render_field(registration_form.address.zip_code) }}
            {{ render_field(registration_form.address.state) }}
          </div>
        </div>
      </div>
      <div class="col-xs-12 table-cell">
        <p><input class="btn btn-default btn-ns" id="register-btn" type="submit" value="Registrar"></input></p>
      </div>
      <hr>
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/registration.js') }}"></script>
{% endblock %}
