{% extends 'base.html' %}

{% from "macros/formhelpers.html" import render_field %}

{% block title %}
  {{ super() }}
  Registro
{% endblock %}

{% block page_content %}
  <div class="container" id="registration-content-wrapper">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="col-sm-12">
            <h4>Registre-se no nosso site para começar a fazer compras!</h4>
          </div>
        </div>
        <div class="panel-body">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class="alert alert-danger alert-login">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          <form action="{{ url_for('registration') }}" method="post">
            {{ registration_form.csrf_token }}
            {% if registration_form.csrf_token.errors %}
              <ul class="alert alert-danger alert-login">
                {% for error in registration_form.csrf_token.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            <dl>
              {{ render_field(registration_form.name) }}
              {{ render_field(registration_form.email) }}
              {{ render_field(registration_form.dob) }}
              {{ render_field(registration_form.password) }}
              {{ render_field(registration_form.confirm) }}
            <dl>
            <p><input id="register-btn" type="submit" value="registrar"></input></p>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/registration.js') }}"></script>
{% endblock %}
