{% extends 'singlecontent.html' %}
{% from "macros/formhelpers.html" import render_field %}

{% block title %}
  {{ super() }}
  Trocas e devoluções
{% endblock %}

{% block single_content %}
  <div id='returns'>
    <h3>Trocas e devoluções ›</h3>
    <hr>
    <form action="{{ url_for('returns') }}" method="post">
      {{ form.hidden_tag() }}
      {% if form.csrf_token.errors %}
        <ul class="alert alert-danger alert-login">
          {% for error in form.csrf_token.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <dl>
        <div class='field-row'>
          <div class='contact-field'>{{ render_field(form.name) }}</div>
          <div class='contact-field'>{{ render_field(form.email) }}</div>
        </div>
        {{ render_field(form.subject) }}
        {{ render_field(form.message) }}
      </dl>
      <p><input class="btn btn-default btn-ns" id="contact-btn" type="submit" value="Enviar"></input></p>
    </form>
    <hr>
  </div>
{% endblock %}
