{% extends 'singlecontent.html' %}
{% from "macros/formhelpers.html" import render_field %}

{% block title %}
  {{ super() }}
  Trocas e devoluções
{% endblock %}

{% block single_content %}
  <div id='returns'>
    <h3 class="uppercase">Trocas e devoluções ›</h3>
    <hr>
    <form action="{{ url_for('returns') }}" method="post">
      {{ form.hidden_tag() }}
      {% if form.csrf_token.errors %}
        <ul class="alert alert-danger alert-login">
          {% for error in form.csrf_token.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <div class='form-field'>
        <div class="form-field-group">
          <p class="form-field-title">Nome</p>
          {{ form.name() }}
        </div>
        <div class="form-field-group">
          <p class="form-field-title">Email</p>
          {{ form.email() }}
        </div>
      </div>
      {{ render_field(form.subject) }}
      <div class="form-field msg-field">
        <p class="form-field-title">Mensagem</p>
        {{ form.message() }}
      </div>
      <div class="duvet-btn-wrapper text-right">
        <input class="duvet-btn align-fix" id="contact-btn" type="submit" value="Enviar"></input></p>
      </div>
    </form>
  </div>
{% endblock %}
