{% extends 'sidebar.html' %}

{% block title %}
  {{ super() }}
  Perfil
{% endblock %}

{% block sidebar_content %}
  {% include 'partials/user/sidebar.html' %}
{% endblock %}

{% block main_content %}
  {% include 'partials/user/profile.html' %}
  {% include 'partials/user/cart.html' %}
  {% include 'partials/user/orders.html' %}
  {% include 'partials/user/addresses.html' %}
  {% include 'partials/user/payment.html' %}
  {% with wishlist=user.wishlist %}{% include 'partials/user/wishlist.html' %}{% endwith %}
  {% include 'partials/user/logout.html' %}
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}
