{% extends 'sidebar.html' %}
{% from "macros/producthelpers.html" import build_product_list with context %}

{% block title %}
  {{ super() }}
  Perfil
{% endblock %}

{% block ng_controller %}UserProfileController{% endblock %}
{% block sidebar_content %}
  {% include 'partials/user/sidebar.html' %}
{% endblock %}

{% block main_content %}
  {% block margin_fix %}{% endblock %}
  {% include 'partials/user/profile.html' %}
  {% include 'partials/user/cart.html' %}
  {% include 'partials/user/orders.html' %}
  {% include 'partials/user/payment.html' %}
  {% include 'partials/user/wishlist.html' %}
  {% include 'partials/user/logout.html' %}
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/user.js') }}"></script>
  <script>
    var editCartUri = "{{ url_for('edit_cart') }}";
    var removeAddressUri = "{{ url_for('delete_address') }}";
    var getUserUri = "{{ url_for('get_user') }}";
    var getAddressesUri = "{{ url_for('get_addresses') }}";
    var editUserUri = "{{ url_for('edit_user') }}";
    var addAddressUri = "{{ url_for('add_address') }}";
    var getWishlistUri = "{{ url_for('wishlist') }}";
    var removeFromWishlistUri = "{{ url_for('remove_from_wishlist') }}";
  </script>
{% endblock %}
{% block angular_script %}
  <script src="{{ url_for('static', filename='js/userprofile.js') }}"></script>
  <script src="{{ url_for('static', filename='js/cartservice.js') }}"></script>
  <script src="{{ url_for('static', filename='js/addressesService.js') }}"></script>
  <script src="{{ url_for('static', filename='js/address.js') }}"></script>
{% endblock %}
