{% extends 'singlecontent.html' %}

{% block title %}
  {{ super() }}
  Lavanderia
{% endblock %}

{% block single_content %}
  <div id='wash'>
    <h3>Sobre nossos produtos ›</h3>
    <hr>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt rhoncus fringilla. Suspendisse ut lectus venenatis diam porta vulputate. Proin dapibus ex id quam egestas, ac vehicula orci dapibus. Maecenas velit purus, aliquam in purus a, iaculis hendrerit nunc. Morbi ornare nunc ac arcu luctus, in ultrices sapien efficitur. Nulla id tellus vel felis porta fermentum at ut urna. Cras condimentum lacus non nulla varius, sed faucibus mi accumsan. Etiam imperdiet lacinia leo in convallis. Donec diam turpis, tempus tempus nulla eu, tempus interdum ante. Sed ac libero justo. Curabitur vitae pretium tortor. Curabitur varius metus eu nibh maximus pellentesque. Aliquam condimentum, ipsum cursus vestibulum posuere, metus sapien congue ante, sed volutpat nisi felis in tortor. In hac habitasse platea dictumst.
    </p>
    <p>
    Nunc quis leo semper, dictum purus a, efficitur leo. Sed pulvinar vel justo ac malesuada. Vivamus diam tellus, iaculis sit amet sagittis vel, mattis sed neque. Pellentesque vitae pulvinar orci. Suspendisse sit amet nibh nec felis sollicitudin feugiat. Nullam luctus magna aliquam, iaculis nunc at, malesuada lacus. Aliquam non lectus sed mauris laoreet tristique. Aenean id mauris massa. Aliquam auctor mauris quis placerat tristique. Quisque commodo nibh eget leo suscipit, eget rutrum orci laoreet. Nunc laoreet turpis eget sapien lacinia auctor. Quisque nec quam venenatis, placerat diam vel, ornare erat. Praesent vitae ultricies sapien. Donec at euismod leo, vel suscipit diam. Duis vitae aliquet nisi, elementum ornare lacus.
    </p>
    <h3>Cuidados a serem tomados ›</h3>
    <hr>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt rhoncus fringilla. Suspendisse ut lectus venenatis diam porta vulputate. Proin dapibus ex id quam egestas, ac vehicula orci dapibus. Maecenas velit purus, aliquam in purus a, iaculis hendrerit nunc. Morbi ornare nunc ac arcu luctus, in ultrices sapien efficitur. Nulla id tellus vel felis porta fermentum at ut urna. Cras condimentum lacus non nulla varius, sed faucibus mi accumsan. Etiam imperdiet lacinia leo in convallis. Donec diam turpis, tempus tempus nulla eu, tempus interdum ante. Sed ac libero justo. Curabitur vitae pretium tortor. Curabitur varius metus eu nibh maximus pellentesque. Aliquam condimentum, ipsum cursus vestibulum posuere, metus sapien congue ante, sed volutpat nisi felis in tortor. In hac habitasse platea dictumst.
    </p>
  </div>
{% endblock %}
