{% extends 'singlecontent.html' %}

{% block title %}
  {{ super() }}
  Lavanderia
{% endblock %}

{% block single_content %}
  <div id='wash'>
    <h3 class="uppercase">Sobre nossos produtos ›</h3>
    <hr>
    <p>
    Olá, seja bem vindo ao nosso cantinho digital =) </br>
    Nós somos um ateliê de roupas para casa e nossos produtos são feitos
        artesanalmente. Podemos dizer que são únicos &lt;3 !!
    <p>
      Nós trabalhamos com tecidos de alta qualidade, mas é legal que você
      preste atenção em alguns detalhes: </br>
      Nossa produção é pequena logo nossas peças são exclusivas e com poucas repetições. 
    </p>
    <p>
      <b>Para lavagem: </b></br>
      Como trabalhamos com mistura de estampas, o ideal é não deixar as peças de molho, evitando assim a migração de cores. Nunca tivemos reclamações quanto a isso, mas são as melhores práticas pra sua peça ter a melhor duração possível =) Lembrando que, para evitar manchas em qualquer tecido vale a regra: lavar imediatamente o tecido caso ocorra algum derramamento de molhos, vinhos e outros líquidos que manchem.  
    </p>
    <p>
      <b>Para passar: </b></br>
      Para tecidos pintados à mão, evitar ferro muito quente, podendo ser passados também pelo avesso, um pouquinho de cuidado é sempre bem vindo. 
    </p>
  </div>
{% endblock %}
