/*
 * general settings
 */

$dark: #222;
$fade-dark: rgba(34, 34, 34, .3);
$grey: #9d9d9d;
$dark-grey: #2b2b2b;
$light-grey: #D5D8DC;
$light: #fff;

$font-sizes: (
  null: 0.8em,
  480px: 0.9em,
  720px: 1em
);

@mixin align-vertical($height) {
  height: $height;
  line-height: $height;
  vertical-align: middle;
}

@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

.light {
  background: $light;
  color: $dark;
  li.active,
  li:hover {
    background: $dark;
    color: $light;
  }
}

.dark {
  background: $dark;
  color: $light;
  li.active,
  li:hover {
    background: $light;
    color: $dark;
  }
}

.full-height {
  min-height: calc(100% - 370px);
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
  padding-right: 0;
}

.btn-ns {
  @extend .dark;
}


body, html {
  height: 100%;
  width: 100%;
  font: 100%;
  display: block;
  @include font-size($font-sizes);
}

a:not(.link),
a:link:not(.link),
a:hover:not(.link),
a:visited:not(.link),
a:active:not(.link),
a:focus:not(.link) {
  text-decoration: none;
  color: inherit;
}

hr { width: 100%; }

/*
 * navbar
 */

#navbar {
  z-index: 1000;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  @include align-vertical(50px);
  width: 100%;
  background: $dark;
  color: $grey;
  .nav-item a:hover { color: $light; }
  .item-left {
    float: left;
  }
  .item-right {
    float: right;
    padding-right: 10px;
  }
  .item-center {
    float: none;
  }
}

.item-dropdown {
  z-index: 800;
  @extend .light;
  position: absolute;
  margin: 0;
  padding: 0;
  border: 1px solid $grey;
  border-radius: 0 0 10px 10px;
  li {
    list-style: none;
    padding: 0 10px 0 10px;
    @include align-vertical(30px);
    &:hover { background: $light-grey; }
    a { display: block; }
  }
  &#user-options-dropdown {
    @media screen and (min-width: 320px) {
      padding: 5px 0 5px 0;
      min-height: 60px;
      width: 250px;
      transform: translateY(-150px);
      transition: transform 500ms;
    }
    &.open {
      transform: translateY(0px);
    }
  }
  &#login-form-dropdown {
    padding: 10px 20px 10px 20px;
    height: 250px;
    transform: translateY(-300px);
    transition: transform 500ms;
    @media screen and (min-width: 320px) {
      width: 250px;
      input.form-control {
        width: 12em;
      }
    }
    @media screen and (min-width: 480px) {
      width: 300px;
      input.form-control {
        width: 15em;
      }
    }
    &.open {
      transform: translateY(0px);
    }
    div.input-group {
      margin-bottom: 10px;
      &:first-child {
        margin-top: 1.5em;
      }
    }
    input[type="submit"] {
      text-align: left;
      height: 30px;;
      width: 80px;
      margin-bottom: 10px;
    }
    #submit-icon {
      position: relative;
      z-index: 1;
      left: -25px;
      top: -1px;
      width: 0;
    }
  }
}

/*
 * sidebar
 */

#buy-menu,
#sidebar-menu {
  @media screen and (min-width: 320px) {
    font-size: 0.8em;
    width: 160px;
    left: -160px;
  }
  @media screen and (min-width: 480px) {
    font-size: 1em;
    width: 240px;
    left: -240px;
  }
  @media screen and (min-width: 720px) {
    width: 250px;
    left: -250px;
  }
  position: fixed;
  padding-top: 50px;
  height: 100%;
  top: 0;
  bottom: 0;
  transform: translate(0,0);
  transition: transform 500ms;
  ul {
    padding: 0;
    width: 100%;
    text-align: center;
    li {
      list-style: none;
      @include align-vertical(40px);
      & > a { display: block; width: 100%; }
    }
  }
}

#sidebar-menu {
  @extend .dark;
  z-index: 1000;
  &.open {
    @media screen and (min-width: 320px) {
      transform: translate(160px, 0);
    }
    @media screen and (min-width: 480px) {
      transform: translate(240px, 0);
    }
    @media screen and (min-width: 720px) {
      transform: translate(250px, 0);
    }
  }
}

#buy-menu {
  @extend .light;
  z-index: 900;
  &.open {
    @media screen and (min-width: 320px) {
      transform: translate(320px, 0);
    }
    @media screen and (min-width: 480px) {
      transform: translate(480px, 0);
    }
    @media screen and (min-width: 720px) {
      transform: translate(500px, 0);
    }
  }
}

#sidebar-btn {
  margin: 10px 0 10px 5px;
  width: 30px;
  @include align-vertical(30px);
  background: $dark;
  text-align: center;
  i {
    padding: 5px;
    font-size: 1.5em;
  }
  &:hover { color: $light; }
}

.fixed { position: fixed; }

/*
 * headers
*/

#carousel-wrapper {
  position: relative;
}

#header, #myCarousel, .item, .carousel-inner, .header-img {
  width:100%;
}

[id*=carousel-item-] {
  width:100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

#carousel-item-1,
#carousel-item-2,
#carousel-item-3
{
  @media screen and (min-width: 320px) {
    height: 400px;
    background-image:url("http://placehold.it/320x400");
  }
  @media screen and (min-width: 480px) {
    height: 500px;
    background-image:url("http://placehold.it/480x500");
  }
  @media screen and (min-width: 720px) {
    height: 600px;
    background-image:url("http://placehold.it/720x600");
  }
  @media screen and (min-width: 768px) {
    height: 700px;
    background-image:url("http://placehold.it/768x700");
  }
  @media screen and (min-width: 920px) {
    height: 700px;
    background-image:url("http://placehold.it/920x700");
  }
  @media screen and (min-width: 992px) {
    height: 700px;
    background-image:url("http://placehold.it/990x700");
  }
  @media screen and (min-width: 1200px) {
    height: 750px;
    background-image:url("http://placehold.it/1200x800");
  }
  @media screen and (min-width: 1440px) {
    height: 800px;
    background-image:url("http://placehold.it/1440x850");
  }
  @media screen and (min-width: 1600px) {
    height: 800px;
    background-image:url("http://placehold.it/1600x900");
  }
}

#carousel-box {
  position: absolute;
  border: 2px solid $dark;
  text-align: center;
  span {
    position: relative;
    top: 30px;
  }
  @media screen and (min-width: 320px) {
    font-size: 0.8em;
    height: 140px;
    width: 120px;
    padding: 15px 5px 5px 5px;
    top: 55%;
    left: 55%;
  }
  @media screen and (min-width: 480px) {
    top: 60%;
    left: 65%;
  }
  @media screen and (min-width: 720px) {
    top: 55%;
    left: 70%;
    font-size: 1em;
    width: 165px;
    height: 185px;
    padding: 30px 10px 10px 10px;
  }
  @media screen and (min-width: 920px) {
    left: 75%;
  }
  @media screen and (min-width: 1200px) {
    left: 80%;
  }
  @media screen and (min-width: 1440px) {
    left: 82%;
    top: 60%;
  }
  @media screen and (min-width: 1600px) {
    left: 85%;
    top: 60%;
  }
}

/*
 * index stuff
 */

#index-content-wrapper {
  width: 100%;
  font-color: $dark;
}

.img-panel {
  background-repeat: no-repeat;
  background-position: center;
}

.category-panel {
  @extend .img-panel;
  background-size: 100% 100%;
  text-align: center;
  width: 100%;
  @media screen and (min-width: 320px) {
    height: 250px;
  }
  @media screen and (min-width: 480px) {
    height: 410px;
  }
  @media screen and (min-width: 720px) {
    height: 650px;
  }
  @media screen and (min-width: 768px) {
    height: 364px;
  }
  @media screen and (min-width: 920px) {
    height: 390px;
  }
  @media screen and (min-width: 992px) {
    height: 285px;
  }
  @media screen and (min-width: 1200px) {
    height: 360px;
  }
  @media screen and (min-width: 1440px) {
    height: 435px;
  }
  @media screen and (min-width: 1600px) {
    height: 500px;
  }
}

.name-box {
  display: inline-block;
  border: 2.8px solid $dark;
  width: 40%;
  @include align-vertical(30px);
  text-align: center;
  position: absolute;
  top: 85%;
  left: 30%;
  margin: 0;
  padding: 0;

}

#page-content {
  padding: 20px;
  margin-bottom: 50px;
  [class*="col-"] {
    padding: 2.5px !important;
  }
}

/*
 * single content settings
 */

#single-content-wrapper {
  @extend .full-height;
  padding-top: 20px;
  .row {
    margin-left: 0;
    margin-right: 0;
    background: url('http://placehold.it/1920x1080');
    background-repeat: no-repeat;
    background-size: cover;
    & > [class*="col-"] {
      padding: 50px;
      margin-bottom: 0;
      background-color: $light;
    }
  }
}

.table-container {}


/*
 * registration page
 */

#input-address {
  opacity: 0;
  &.shown {
    opacity: 1;
    transition: all 0.4s ease-in-out;
  }
}


/*
 * sidebar pages generic settings
 */

#sidebar {
  h4 {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1em;
    @media screen and (min-width: 320px) {
      padding-left: 0px;
      text-align: center;
    }
    @media screen and (min-width: 768px) {
      padding-left: 40px;
      text-align: left;
    }
  }
  ul {
    @media screen and (min-width: 320px) {
      display: none;
    }
    @media screen and (min-width: 992px) {
      display: block;
    }
    li {
      list-style: none;
      padding: .2em 0 .2em 0;
      a { display: block; }
      &:hover { color: $light-grey; }
    }
    @media screen and (min-width: 320px) {
      padding-left: 0px;
      text-align: center;
    }
    @media screen and (min-width: 768px) {
      padding-left: 40px;
      text-align: left;
    }
  }
}

#sidebar-content-wrapper {
  @extend .full-height;
  padding-top: 40px;
  & > .row {
    @media screen and (min-width: 768px) {
      margin-left: 50px;
      margin-right: 50px;
    }
    @media screen and (min-width: 992px) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}



/*
 * category pages
 */

#main-content-wrapper.margin-fix {
  @media screen and (min-width: 320px) {
    margin-right: auto;
    margin-left: auto;
    p {
      text-align: center;
    }
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 992px) {
    margin-right: 80px;
    margin-left: -30px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 100px;
    margin-left: -45px;
  }
  @media screen and (min-width: 1600px) {
    margin-right: 200px;
    margin-left: -90px;
  }
  .panel .panel-body {
    position: relative;
    & > a {
      display: block;
      height: 100%;
      width: 100%;
    }
    &:hover {
      .img-view {
        opacity: .30;
        transition: all 0.6s ease-in-out;
      }
    }
  }
}

.img-view {
  height: 30%;
  width: 100%;
  background-color: $dark;
  position: absolute;
  left: 0;
  bottom: 0;
  color: $light;
  text-align: center;
  opacity: 0;
  a {
    position: relative;
    top: 35%;
    &:hover {
      color: $light-grey;
    }
  }
}

.variant-modal {
  .modal-dialog {
    width: 50%;
    .modal-content {
      border-radius: 0;
      padding-bottom: 30px;
      .modal-header {
        border: 0;
        padding-bottom: 0;
      }
      .variant-details {
        padding-top: 150px;
        hr { border-top: 1px solid $fade-dark; }
        .details-text {
          margin-right: 15px;
          a:hover { color: $light-grey; }
        }
        .variant-btns {
          a i {
            @include align-vertical(40px);
            width: 40px;
            text-align: center;
            background-color: $dark;
            color: $light;
            border-radius: 20px;
          }
        }
      }
    }
  }
}

.variant-carousel-thumb {
  .carousel-inner .row {
    margin-top: 10px;
    margin-left: -5px;
    margin-right: -5px;
    [class*=col-] {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .thumb-control {
    margin-top: 10px;
    .small-arrow {
      position: static;
      display: block;
      width: auto;
      margin-top: -15px;
    }
  }
}

/*
 * product
 */

#product-page {
  min-height: calc(100% - 192px);
  padding: 40px 0px 40px 0px;
}

#product-thumbs-carousel {
  margin-top: 20px;
}

.thumb-control {
  padding-top: 7.5%;
  width: 5%;
}


/*
 * product panel
 */
.panel {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  .panel-body {
    @extend .img-panel;
    background-size: cover;
    border: 0;
    @media screen and (min-width: 320px) {
      height: 250px;
    }
    @media screen and (min-width: 380px) {
      height: 280px;
    }
    @media screen and (min-width: 480px) {
      height: 350px;
    }
    @media screen and (min-width: 768px) {
      height: 420px;
    }
    @media screen and (min-width: 992px) {
      height: 320px;
    }
    @media screen and (min-width: 1200px) {
      height: 300px;
    }
    @media screen and (min-width: 1440px) {
      height: 350px;
    }
    @media screen and (min-width: 1600px) {
      height: 380px;
    }
  }
  .panel-footer {
    position: relative;
    background: $light;
    margin-top: 5px;
    border: 0;
    border-top: 1px solid $grey;
    @extend .text-center;
    p {
      margin-bottom: 0;
    }
    .cart-btn {
      i {
        position: absolute;
        background-color: $dark;
        color: $light;
        &:hover { background-color: $grey; }
        @media screen and (min-width: 320px) {
          top: -25px;
          font-size: 1.2em;
          margin-left: -15px;
          @include align-vertical(30px);
          width: 30px;
          border-radius: 15px;
        }
        @media screen and (min-width: 480px) {
          margin-left: -17px;
          width: 34px;
          @include align-vertical(34px);
          border-radius: 17px;
        }
        @media screen and (min-width: 768px) {
          font-size: 1em;
        }
        @media screen and (min-width: 1200px) {
          top: -30px;
          margin-left: -19px;
          @include align-vertical(38px);
          width: 38px;
          border-radius: 19px;
        }
        @media screen and (min-width: 1440px) {
          font-size: 1.2em;
          top: -34px;
          margin-left: -22px;
          @include align-vertical(44px);
          width: 44px;
          border-radius: 22px;
        }
      }
    }
  }
}


/*
 * edit / remove buttons added to panel's heading.
 * we add 10px of margin top and bottom to equal those of h4, thus making both
 * aligned vertically inside the heading.
 */
.options-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*
 * user page stuff
 */

.list-group-item {
  border-color: $light-grey;
  &,
  &:active,
  &:visited {
    @extend .light;
  }
  &.active:hover,
  &.active:active,
  &.active:visited,
  &.active {
    @extend .dark;
    border-left-color: $dark;
    border-right-color: $dark;
    border-top-color: $light-grey;
    border-bottom-color: $light-grey;
  }
}

.user-info {
  padding-top: 2em;
  border: 1px solid $light-grey;
  border-radius: 4px;
  #edit-profile {
    margin-top: 1em;
    margin-bottom: 1em;
    @media screen and (min-width: 320px) {
      margin-left: 0;
    }
    @media screen and (min-width: 768px) {
      margin-left: 60px;
    }
    @media screen and (min-width: 992px) {
      margin-left: 15px;
    }
  }
}

#logout-confirm-btn {
  margin-bottom: 1em;
}

#logout,
#orders,
#wishlist,
#cart,
#profile-data,
#addresses-data {
  @media screen and (min-width: 320px) {
    padding-left: 15px;
  }
  @media screen and (min-width: 992px) {
    padding-left: 30px;
  }
}

#addresses-data {
  @media screen and (min-width: 320px) {
    padding-top: 15px;
  }
  @media screen and (min-width: 992px) {
    padding-top: 0;
  }
}

.user-field {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  div,
  .field-title {
    display: inline;
    margin-right: 10px;
  }
  .input {
    input {
      display: inline;
    }
    &#name-input,
    &#email-input {
      input {
        @media screen and (min-width: 320px) {
          width: 65%;
        }
      }
    }
    &#dob-input {
      input {
        @media screen and (min-width: 320px) {
          width: 25%;
        }
        @media screen and (min-width: 480px) {
          width: 50%;
        }
        @media screen and (min-width: 992px) {
          width: 40%;
        }
      }
    }
  }
}

#profile-data {
  @media screen and (min-width: 320px) {
    border-bottom: 1px solid $light-grey;
    padding-bottom: 2em;
  }
  @media screen and (min-width: 992px) {
    border-bottom: 0;
    border-right: 1px solid $light-grey;
    padding-bottom: 0;
  }
}

/*
 * institucional / newsletter & social media stuff
 */

ul#info {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0;
  color: $grey;
  li {
    float: left;
    width: 20%;
    &:hover {
      color: $dark-grey;
    }
  }
}

div#connect {
  text-align: center;
  width: 100%;
  height: 100px;
  span {
    height: 60px;
    @media screen and (min-width: 320px) {
      display: block;
      width: 100%;
    }
    @media screen and (min-width: 720px) {
      display: inline-block;
      width: 30%;
    }
    a {
      i {
        width: 30px;
        @include align-vertical(30px);
        border: 1px solid $dark;
        border-radius: 50%;
        &:hover {
          color: $grey;
          border-color: $grey;
        }
      }
      &:first-child {
        margin-right: 5px;
      }
      &:last-child {
        margin-left: 5px;
      }
      & {
        text-decoration: none !important;
        color: $dark;
      }
    }
  }
}

#newsletter {
  div {
    @include align-vertical(20px);
    box-sizing: border-box;
    button {
      height: 26px;
      width: 30px;
      background: $dark;
      border: 1px solid $dark;
      color: white;
    }
  }
}


/*
 * footer
 */

#footer-wrapper {
  background-color: $dark;
  color: $grey;
  width: 100%;
  height: 120px;
  position: relative;
  .engine {
    font-size: 0.7em;
    position: absolute;
    right: 15px;
    bottom: 0;
  }
}

footer {
  height: 100%;
}

